Source: db
Section: libs
Priority: standard
Maintainer: Ubuntu Core developers <ubuntu-devel-discuss@lists.ubuntu.com>
Uploaders: Clint Adams <schizo@debian.org>
Standards-Version: 3.7.3
Build-Depends: tcl8.4-dev, procps [!hurd-i386 !solaris-i386], java-gcj-compat-dev [!m68k !mips !mipsel !arm !armeb !armel !hurd-i386 !kfreebsd-i386 !kfreebsd-amd64 !m32r !solaris-i386]
Homepage: http://www.oracle.com/technology/software/products/berkeley-db/index.html
Vcs-Browser: http://git.debian.org/?p=private/schizo/db.git;a=summary
Vcs-Git: git://git.debian.org/git/private/schizo/db.git

Package: db4.6-doc
Architecture: all
Section: libs
Priority: optional
Description: Berkeley v4.6 Database Documentation [html]
 Complete documentation for all of the API's and utilities provided by
 version 4.6 of Berkeley DB.

Package: libdb4.6-dev
Architecture: any
Section: libdevel
Priority: extra
Depends: libdb4.6 (= ${binary:Version})
Suggests: db4.6-doc
Conflicts: libdb1-dev, libdb2-dev, libdb3-dev, libdb4.2-dev, libdb4.3-dev, libdb4.4-dev, libdb4.5-dev
Replaces: libdb-dev (<= 4.6.18-1)
Description: Berkeley v4.6 Database Libraries [development]
 This is the development package which contains headers and static
 libraries for the Berkeley v4.6 database library.

Package: libdb-dev
Architecture: any
Section: libdevel
Priority: extra
Depends: libdb4.6-dev (= ${binary:Version})
Suggests: db4.6-doc
Conflicts: libdb1-dev, libdb2-dev, libdb3-dev, libdb4.2-dev, libdb4.3-dev, libdb4.4-dev, libdb4.5-dev
Description: Berkeley v4.6 Database Libraries [development]
 This is the development package which contains headers and static
 libraries for the Berkeley v4.6 database library.

Package: libdb4.6
Architecture: any
Conflicts: libdb2 (<< 2:2.7.7-3)
Section: libs
Priority: standard
Depends: ${shlibs:Depends}
Description: Berkeley v4.6 Database Libraries [runtime]
 This is the runtime package for programs that use the v4.6 Berkeley
 database library.

Package: db4.6-util
Architecture: any
Section: utils
Priority: optional
Depends: ${shlibs:Depends}
Description: Berkeley v4.6 Database Utilities
 This package provides different tools for manipulating databases
 in the Berkeley v4.6 database format, and includes:
  - db4.6_archive: write the pathnames of the log files no longer in use.
  - db4.6_checkpoint: daemon process to monitor the database log and
    checkpoint it periodically.
  - db4.6_deadlock: traverse the database environment lock region and
    abort lock requests when a deadlock is detected.
  - db4.6_load: loads (and creates) a database from standard input.
  - db4.6_dump: read a database file and write it in a format understood
    by db4.{2..6}_load.
  - db4.6_printlog: dump log files in human readable format.
  - db4.6_stat: display statistics for Berkeley DB environments.
  - db4.6_upgrade: upgrades the version of files and the databases they
    contain.
  - db4.6_verify: check the structure of files and their databases.

Package: libdb4.6++
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libdb4.6++, libdb2++ (<< 2:2.7.7-3)
Replaces: libdb4.6++
Section: libs
Priority: optional
Description: Berkeley v4.6 Database Libraries for C++ [runtime]
 This is the runtime package for programs that use the Berkeley v4.6
 database library.  This is only for programs which use the C++ interface.

Package: libdb4.6++-dev
Architecture: any
Provides: libdb++-dev
Conflicts: libdb2++-dev, libdb++-dev, libdb3++-dev
Section: libdevel
Priority: extra
Depends: libdb4.6++ (= ${binary:Version}), libdb-dev (= ${binary:Version})
Description: Berkeley v4.6 Database Libraries for C++ [development]
 This is the development package which contains headers and static
 libraries for the Berkeley v4.6 database library.  This is only for
 programs which will use the C++ interface.

Package: libdb4.6-tcl
Architecture: any
Section: interpreters
Priority: extra
Conflicts: libdb3-tcl, libdb4.0-tcl, libdb4.1-tcl, libdb4.2-tcl, libdb4.3-tcl, libdb4.4-tcl, libdb4.5-tcl
Depends: ${shlibs:Depends}
Description: Berkeley v4.6 Database Libraries for TCL [module]
 This package provides a TCL module suitable for accessing Berkeley v4.6
 databases from within TCL programs.

Package: libdb4.6-dbg
Architecture: any
Section: libs
Priority: optional
Depends: libdb4.6 (= ${binary:Version})
Description: Berkeley v4.6 Database Libraries [debug]
 This package provides the debug symbols for the Berkeley v4.6 database
 library.

Package: libdb4.6-java
Architecture: any
Section: libs
Priority: optional
Provides: libdb-java
Conflicts: libdb-java
Depends: ${shlibs:Depends}
Recommends: libdb4.6-java-gcj
Description: Berkeley v4.6 Database Libraries for Java
 This package provides the Java interface for the Berkeley v4.6 database
 library.

Package: libdb4.6-java-gcj
Architecture: any
Section: libs
Priority: optional
Depends: libdb4.6-java (>= ${source:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Berkeley v4.6 Database Libraries for Java (native code)
 This package provides the Java interface for the Berkeley v4.4 database
 library.
 .
 This package contains the natively compiled code for use by gij.

Package: libdb4.6-java-dev
Architecture: any
Section: libs
Priority: optional
Provides: libdb-java-dev
Conflicts: libdb-java-dev
Depends: ${shlibs:Depends}, libdb4.6-java
Description: Berkeley v4.6 Database Libraries for Java [development]
 This package provides the Java interface for the Berkeley v4.6 database
 library.
