#!/usr/bin/make -f
# 
# debian/rules file for texlive-bin
# $Id: rules.in 3735 2009-02-21 15:23:31Z preining $

include /usr/share/quilt/quilt.make

SHELL=/bin/bash

first: build

# if we are compiling on armel we have to use gcc/g++ 4.4 to fix the 
# build error due to upstream bug, see #483939
DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
GCC_44_ARCHES := armel
RELAX_ARCHES := alpha

ifneq (,$(filter $(DEB_BUILD_ARCH),$(GCC_44_ARCHES)))
    export CC=gcc-4.4
    export CXX=g++-4.4
endif

ifneq (,$(filter $(DEB_BUILD_ARCH),$(RELAX_ARCHES)))
    export LDFLAGS=-Wl,--no-relax
endif

#
# upstream stuff
upstream_pre_release=true
create-orig-source:
ifeq ($(upstream_pre_release),true)
	-chmod a+x debian/create-orig-tar
	debian/create-orig-tar
else
	wget $(somewhere)
endif

# still statically links some libs, most notably icu-xetex.
export TL_CONF_SHARED=--enable-shared
## export TL_CONF_LARGEFILE=--enable-largefile
export TL_CONFIGURE_ARGS=	\
	--disable-native-texlive-build		\
	--disable-lcdf-typetools 		\
	--disable-dvipng 			\
	--disable-musixflx			\
        --disable-ps2eps			\
	--disable-psutils			\
	--disable-luatex			\
	--disable-t1utils			\
	--disable-cjkutils			\
	--disable-dvidvi			\
	--disable-lacheck			\
	--disable-tex4htk			\
	--with-system-libpng			\
	--with-system-zlib			\
	--with-system-gd			\
	--with-system-freetype2			\
	--with-freetype2-include=/usr/include/freetype2 \
	--with-x				\
	--with-xdvi-x-toolkit=xaw		\
	--with-mf-x-toolkit			\
	--enable-ipc				\
	--with-system-xpdf			\
	--with-tex-banner='TeX Live 2009/Debian' 
export CONFIG_SHELL=/bin/sh

ifeq ($(DEB_BUILD_ARCH_OS),solaris)
	export M4=/usr/gnu/bin/m4
endif

build: build-stamp 

build-stamp: $(QUILT_STAMPFN)
	./Build
	# remove rpath from binaries
	for i in inst/bin/* ; do chrpath -d $$i 2>/dev/null || true ; done
	touch $@

install: install-stamp

install-stamp: build-stamp
	touch install-stamp

clean: unpatch
	rm -rf Work inst
	# texlive contains some .orig files we need to keep otherwise
	# the copy will fail due to the files occurring in the tlpdb
	dh_clean -X.orig
	rm -f build-stamp
	rm -f install-stamp

binary-indep:

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	# for alternatives treatment we rename usr/bin/bibtex to
	# usr/bin/bibtex.original
	mv debian/texlive-binaries/usr/bin/bibtex \
	   debian/texlive-binaries/usr/bin/bibtex.original
	mv debian/texlive-binaries/usr/share/man/man1/bibtex.1 \
	   debian/texlive-binaries/usr/share/man/man1/bibtex.original.1
	dh_installmenu
	dh_installdocs # -A debian/README.source
	dh_installchangelogs
	dh_installchangelogs -plibkpathsea5 -plibkpathsea-dev texk/kpathsea/ChangeLog
#	bash debian/convert-info-files-to-unix.sh
#	bash debian/fix-manpages.sh
	dh_installinfo
	dh_installmime
	dh_link
	dh_compress -X.pdf
	dh_fixperms
	dh_makeshlibs -plibkpathsea5 
	dh_strip
	dh_installdeb
	dh_shlibdeps -l debian/libkpathsea5/usr/lib
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install


# eof
