Source: po-debconf
Section: devel
Priority: optional
Maintainer: Nicolas FRANCOIS (Nekral) <nicolas.francois@centraliens.net>
Standards-Version: 3.8.1
Build-Depends: debhelper (>= 7.0.0), po4a (>= 0.36)
Build-Depends-Indep: perl (>= 5.10)

Package: po-debconf
Architecture: all
Depends: perl, text-locale, intltool-debian (>= 0.34.2+20060512)
Recommends: libmail-sendmail-perl, libcompress-zlib-perl
Suggests: libmail-box-perl
Description: tool for managing templates file translations with gettext
 This package is an alternative to debconf-utils, and provides tools
 for managing translated debconf templates files with common gettext
 utilities.
