Source: pyprotocols
Upstream-Version: 1.0a.svn20070625
Section: python
Priority: optional
Maintainer: Chris Lamb <lamby@debian.org>
Build-Depends: debhelper, python-setuptools, python-all-dev, python-support
Standards-Version: 3.8.3
Homepage: http://peak.telecommunity.com/PyProtocols.html
Vcs-Git: git://git.chris-lamb.co.uk/pkg-pyprotocols.git
Vcs-Browser: http://git.chris-lamb.co.uk/?p=pkg-pyprotocols.git

Package: python-protocols
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, python-peak.util.decorators
Description: Open Protocols and Component Adaptation for Python
 Do you hate having to write lots of if-then logic to test what type something
 is? Wouldn't it be nice if you could just declare "I want this object to have
 this behavior" and magically convert whatever value you have, to the type you
 need? PyProtocols lets you do just that, cleanly, quickly, and robustly --
 even with built-in types or other people's classes.
 .
 PyProtocols extends the PEP 246 adapt() function with a new "declaration API"
 that lets you easily define your own protocols and adapters, and declare what
 adapters should be used to adapt what types, objects, or protocols. In
 addition to its own Interface type, PyProtocols can also use Twisted and
 Zope's Interface types too. (Of course, since Twisted and Zope interfaces
 aren't as flexible, only a subset of the PyProtocols API works with them.
 Specific limitations are listed in the documentation.)
