Source: configobj
Upstream-Version: 4.7.2
Section: python
Priority: optional
Maintainer: Daniel Watkins <daniel@daniel-watkins.co.uk>
Uploaders:
 Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>,
 Stefano Rivera <stefanor@debian.org>,
 Jelmer Vernooij <jelmer@debian.org>
Build-Depends:
 debhelper,
 python-all,
 python-setuptools,
Standards-Version: 3.9.2
X-Python-Version: >= 2.6
Homepage: http://www.voidspace.org.uk/python/configobj.html
Vcs-Svn: svn://svn.debian.org/python-modules/packages/configobj/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/configobj/trunk/

Package: python-configobj
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: simple but powerful config file reader and writer for Python
 ConfigObj is a simple but powerful config file reader and writer: an
 ini file round tripper. Its main feature is that it is very easy to
 use, with a straightforward programmer's interface and a simple
 syntax for config files. It has lots of other features, though:
 .
  * Nested sections (subsections), to any level
  * List values
  * Multiple line values
  * String interpolation (substitution)
  * Integrated with a powerful validation system
    + including automatic type checking/conversion
    + and allowing default values
    + repeated sections
  * All comments in the file are preserved
  * The order of keys/sections is preserved
  * Full Unicode support
  * Powerful unrepr mode for storing/retrieving Python data-types
