Source: libxml-namespacesupport-perl
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Krzysztof Krzyzaniak (eloy) <eloy@debian.org>
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: perl
Standards-Version: 3.7.2.1

Package: libxml-namespacesupport-perl
Section: perl
Priority: optional
Architecture: all
Depends: ${perl:Depends}
Description: Perl module for supporting simple generic namespaces
 XML::NamespaceSupport offers a simple way to process namespace-based XML names.  
 It also helps maintain a prefix-to-namespace URI map, and provides a number of 
 basic checks.
 .
 The model for this module is SAX2's NamespaceSupport class.  It adds a few
 Perl-specific changes where thought to be appropriate.
