#!/usr/bin/make -f

package = gettext

CC = gcc
SHELL = /bin/bash

CFLAGS = -g -Wall -D_REENTRANT
INSTALL_PROGRAM = install
INSTALL_SCRIPT = install

STRIP = true
ATRIP = true

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
 CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
 INSTALL_PROGRAM += -s
 STRIP=strip --strip-unneeded --remove-section=.comment --remove-section=.note
 ATRIP=strip --strip-debug
endif

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

# PNET_ARCHS = %alpha%amd64%hppa%i386%ia64%mips%mipsel%powerpc%s390%sparc%
# ifneq (,$(findstring %$(DEB_HOST_ARCH)%,$(PNET_ARCHS)))
#   CSHARP = --enable-csharp=pnet
# endif

# MONO_ARCHS = %amd64%arm%i386%ia64%lpia%powerpc%
# ifneq (,$(findstring %$(DEB_HOST_ARCH)%,$(MONO_ARCHS)))
#   CSHARP = --enable-csharp=mono
# endif

GPREFIX = \
	gettext \
	msgfmt \
	xgettext

MAN3DUPS = \
	bind_textdomain_codeset \
	bindtextdomain \
	dcgettext \
	dcngettext \
	dgettext \
	dngettext \
	gettext \
	ngettext \
	textdomain

LIBCLEANUP = \
	usr/include/gettext-po.h \
	usr/lib/libgettextlib.la \
	usr/lib/libgettextpo.a \
	usr/lib/libgettextpo.la \
	usr/lib/libgettextsrc.la

NOJAVA_ARCHS = %none%

build:
	cd debian && $(CC) glibc-test.c 
	debian/a.out
	./configure --prefix=/usr \
	    --disable-java \
	    --disable-libasprintf \
	    --without-emacs \
	    --disable-openmp \
	    --disable-static \
	    --disable-shared \
	    CC="$(CC)" \
	    CFLAGS="$(CFLAGS)" \
	    CPPFLAGS=-I/usr/include/libxml2
	$(MAKE)

	touch build

install: install-stamp
install-stamp:
	$(MAKE) install DESTDIR=`pwd`/debian/tmp/ \
		INSTALL_PROGRAM="$(INSTALL_PROGRAM)" \
		INSTALL_SCRIPT="$(INSTALL_SCRIPT)"

	mkdir -p $(CURDIR)/debian/tmp/usr/gnu/bin
	mkdir -p $(CURDIR)/debian/tmp/usr/gnu/share/man/man1

	for f in $(GPREFIX) ; do \
	    mv "$(CURDIR)/debian/tmp/usr/bin/$$f" "$(CURDIR)/debian/tmp/usr/bin/g$$f"; \
	    ln -s -f ../../bin/g$$f "$(CURDIR)/debian/tmp/usr/gnu/bin/$$f"; \
	    mv "$(CURDIR)/debian/tmp/usr/share/man/man1/$$f.1" "$(CURDIR)/debian/tmp/usr/share/man/man1/g$$f.1"; \
	    ln -s -f ../../../../share/man/man1/g$$f.1 \
	    "$(CURDIR)/debian/tmp/usr/gnu/share/man/man1/$$f.1"; \
	done

	for f in $(LIBCLEANUP) ; do \
	    rm -f "$(CURDIR)/debian/tmp/$$f"; \
	done
	
	for f in $(MAN3DUPS) ; do \
	    rm -f "$(CURDIR)/debian/tmp/usr/share/man/man3/$$f.3"; \
	done
	
	# in SUNWglib2 (library/glib2)
	rm -f "$(CURDIR)/debian/tmp/usr/lib/charset.alias"

	touch $@


clean:
	rm -f build install-stamp
	-[ ! -f Makefile ] || $(MAKE) distclean
	rm -f `find . -name "*~"`
	rm -rf debian/tmp debian/files* core debian/substvars debian/a.out
	cd debian && rm -rf gettext-base gettext gettext-el gettext-doc \
			autopoint

binary-arch: build install
	debian/rules gettext-base
	debian/rules gettext

binary-indep: build install
	date
#	debian/rules gettext-el
	debian/rules gettext-doc
	debian/rules autopoint

gettext-base: build install
	rm -rf debian/$@
	install -d debian/$@/DEBIAN debian/$@/usr/share/doc/$@
	cd debian/$@ && install -d usr/share/man/man1 \
		usr/bin \
		usr/gnu/bin \
		usr/gnu/share/man/man1 \
		usr/share/lintian/overrides

	cp -p debian/$@.lintian-overrides \
		debian/$@/usr/share/lintian/overrides/$@
	cp -p debian/tmp/usr/share/man/man1/ggettext.1 \
		debian/$@/usr/share/man/man1
	cp -ax debian/tmp/usr/gnu/share/man/man1/gettext.1 \
		debian/$@/usr/gnu/share/man/man1
	cp -p debian/tmp/usr/share/man/man1/ngettext.1 \
		debian/$@/usr/share/man/man1
	cp -p debian/tmp/usr/share/man/man1/envsubst.1 \
		debian/$@/usr/share/man/man1
	cp -a debian/tmp/usr/share/man/man3 debian/$@/usr/share/man
	cd debian/$@/usr/share/man/ && \
		rm -f dcgettext.3 dcngettext.3 dgettext.3 dngettext.3

	cp -p debian/tmp/usr/bin/ggettext debian/$@/usr/bin/
	cp -ax debian/tmp/usr/gnu/bin/gettext debian/$@/usr/gnu/bin/
	cp -p debian/tmp/usr/bin/ngettext debian/$@/usr/bin/
	cp -p debian/tmp/usr/bin/envsubst debian/$@/usr/bin/
	cp -p debian/tmp/usr/bin/gettext.sh debian/$@/usr/bin/
	cp -a debian/tmp/usr/share/locale debian/$@/usr/share/

	if [ -f debian/tmp/usr/lib/GNU.Gettext.dll ]; then \
		cp -p debian/tmp/usr/lib/GNU.Gettext.dll debian/$@/usr/lib; \
	fi
###	cp -a debian/tmp/usr/lib/libasprintf.so.0* debian/$@/usr/lib
###	cd debian/$@/usr/lib && chmod 644 libasprintf.so.*
###	$(STRIP) debian/$@/usr/lib/libasprintf.so.*
	find debian/$@/usr/share/locale | grep gettext-tools | xargs rm
#ifeq (,$(findstring %$(DEB_HOST_ARCH)%,$(NOJAVA_ARCHS)))
#	install -d debian/$@/usr/share/java
#	cp -p debian/tmp/usr/share/gettext/libintl.jar \
#		debian/$@/usr/share/java
#endif
	cp -p gettext-tools/ABOUT-NLS debian/$@/usr/share/doc/$@
	cp -p debian/copyright debian/$@/usr/share/doc/$@
	install -m 755 debian/$@.postinst debian/$@/DEBIAN/postinst
	cp -p ChangeLog debian/$@/usr/share/doc/$@/changelog
	cp -p debian/changelog debian/$@/usr/share/doc/$@/changelog.Debian
	cd debian/$@/usr/share/doc/$@ && gzip -9 changelog changelog.Debian
	gzip -r9 debian/$@/usr/share/man
	#ln -s gettext.3.gz debian/$@/usr/share/man/man3/dcgettext.3.gz
	#ln -s gettext.3.gz debian/$@/usr/share/man/man3/dgettext.3.gz
	#ln -s ngettext.3.gz debian/$@/usr/share/man/man3/dcngettext.3.gz
	#ln -s ngettext.3.gz debian/$@/usr/share/man/man3/dngettext.3.gz
	dpkg-gencontrol -p$@ -Pdebian/$@
	cd debian/$@ && \
		md5sum `find * -type f ! -regex "DEBIAN/.*"` > DEBIAN/md5sums
	find debian/$@/usr/share/locale -type d -empty | xargs -r rmdir
	find debian/$@/usr/share/locale -type d -empty | xargs -r rmdir
	chown -R 0:0 debian/$@
	chmod -R u+w,go=rX debian/$@
	dpkg --build debian/$@ ..

gettext: build install
	rm -rf debian/$@
	install -d debian/$@/DEBIAN debian/$@/usr/share/doc/$@

	cd debian/$@/ && install -d usr/share/man \
		usr/share/lintian/overrides \
		usr/gnu \
		usr/gnu/share/man
	cd debian && install -m 755 postinst $@/DEBIAN

	cp -p debian/$@.lintian-overrides \
		debian/$@/usr/share/lintian/overrides/$@
	cp -p gettext-runtime/BUGS gettext-tools/misc/DISCLAIM NEWS README \
		debian/copyright debian/$@/usr/share/doc/$@
	cp -p debian/README.Debian debian/$@/usr/share/doc/$@
	cp -p ChangeLog debian/$@/usr/share/doc/$@/changelog
	cp -p debian/changelog debian/$@/usr/share/doc/$@/changelog.Debian
	cd debian/$@/usr/share/doc/$@ && ln -s ../../$(package)/ABOUT-NLS
	cd debian/$@/usr/share/doc/$@ && gzip -9 changelog changelog.Debian

	cp -ax debian/tmp/usr/bin debian/$@/usr/
	cp -ax debian/tmp/usr/gnu/bin debian/$@/usr/gnu/
	
	cp -a debian/tmp/usr/lib debian/$@/usr/
###	cp -a debian/tmp/usr/include debian/$@/usr/
	cp -a debian/tmp/usr/share/info debian/$@/usr/share
	cp -a debian/tmp/usr/share/aclocal debian/$@/usr/share
	cp -a debian/tmp/usr/share/gettext debian/$@/usr/share

#	rm -f debian/$@/usr/share/gettext/libintl.jar
#ifeq (,$(findstring %$(DEB_HOST_ARCH)%,$(NOJAVA_ARCHS)))
#	mv debian/$@/usr/share/gettext/gettext.jar debian/$@/usr/share/java
#endif
	rm -f debian/$@/usr/lib/GNU.Gettext.dll

	cp -ax debian/tmp/usr/share/man/man1 debian/$@/usr/share/man
	cp -ax debian/tmp/usr/gnu/share/man/man1 debian/$@/usr/gnu/share/man

	cp -a debian/tmp/usr/share/locale debian/$@/usr/share
	find debian/$@/usr/share/locale | grep gettext-runtime | xargs rm

	cd debian/$@/usr/bin && rm -f ggettext ngettext envsubst gettext.sh
	cd debian/$@/usr/gnu/bin && rm -f gettext

###	cd debian/$@/usr/lib && rm -f libasprintf.so.* libgettextpo.a *.la

	cd debian/$@/usr/share/man/man1 && \
		rm -f ggettext.1 ngettext.1 envsubst.1
	cd debian/$@/usr/gnu/share/man/man1 && \
		rm -f gettext.1

###	cd debian/$@/usr/lib && chmod 644 libgettextlib* libgettextsrc* \
###		libgettextpo*

#	$(STRIP) debian/$@/usr/lib/preloadable_libintl.so
###	$(STRIP) debian/$@/usr/lib/libgettextlib*.so
###	$(STRIP) debian/$@/usr/lib/libgettextsrc*.so
###	$(STRIP) debian/$@/usr/lib/libgettextpo.so.*
###	$(ATRIP) debian/$@/usr/lib/libasprintf.a
###	$(ATRIP) debian/$@/usr/lib/libgettextpo.a
	rm -f debian/$@/usr/bin/autopoint
	rm -f debian/$@/usr/lib/charset.alias

	rm -f debian/$@/usr/share/locale/locale.alias
	rm -f debian/$@/usr/share/man/man1/autopoint.1
	gzip -9 debian/$@/usr/share/info/*
	gzip -r9 debian/$@/usr/share/man

	dpkg-shlibdeps debian/$@/usr/bin/*
	dpkg-gencontrol -p$@ -Pdebian/$@
	cd debian/$@ && \
		md5sum `find * -type f ! -regex "DEBIAN/.*"` > DEBIAN/md5sums
	find debian/$@/usr/share/locale -type d -empty | xargs -r rmdir
	find debian/$@/usr/share/locale -type d -empty | xargs -r rmdir
	chown -R 0:0 debian/$@
	chmod -R u+w,go=rX debian/$@
	dpkg --build debian/$@ ..

gettext-el: build install
	rm -rf debian/$@
	install -d debian/$@/DEBIAN debian/$@/usr/share/doc/$@
	cd debian/$@  && install -d \
		etc/emacs/site-start.d \
		usr/share/emacs/site-lisp/$(package) \
		usr/lib/emacsen-common/packages/install \
		usr/lib/emacsen-common/packages/remove
	install -m 644 gettext-tools/misc/po-mode.el \
		debian/$@/usr/share/emacs/site-lisp/$(package)
	install -m 644 gettext-tools/misc/po-compat.el \
		debian/$@/usr/share/emacs/site-lisp/$(package)
	cd debian && install -m 755 install \
		$@/usr/lib/emacsen-common/packages/install/$@
	cd debian && install -m 755 remove \
		$@/usr/lib/emacsen-common/packages/remove/$@
	install -m 755 debian/prerm-el debian/$@/DEBIAN/prerm
	install -m 755 debian/postinst-el debian/$@/DEBIAN/postinst
	install -m 644 debian/conffiles debian/$@/DEBIAN
	install -m 644 debian/50gettext.el debian/$@/etc/emacs/site-start.d
	cp -p debian/copyright debian/$@/usr/share/doc/$@
	cp -p ChangeLog debian/$@/usr/share/doc/$@/changelog
	cp -p debian/changelog debian/$@/usr/share/doc/$@/changelog.Debian
	cd debian/$@/usr/share/doc/$@ && gzip -9 changelog changelog.Debian

	dpkg-shlibdeps debian/$@/usr/bin/*
	dpkg-gencontrol -p$@ -Pdebian/$@
	cd debian/$@/ && \
		md5sum `find * -type f ! -regex "DEBIAN/.*"` > DEBIAN/md5sums
	chown -R 0:0 debian/$@
	chmod -R u+w,go=rX debian/$@
	dpkg --build debian/$@ ..

gettext-doc: build install
	rm -rf debian/$@
	install -d debian/$@/DEBIAN debian/$@/usr/share/doc/$@
	install -d debian/$@/usr/share/doc-base
	install -m 644 debian/$@.doc-base debian/$@/usr/share/doc-base/$@
	cp -a debian/tmp/usr/share/doc/gettext/* debian/$@/usr/share/doc/$@
#	cp -a debian/tmp/usr/share/doc/libasprintf/* debian/$@/usr/share/doc/$@
#	rm -f debian/$@/usr/share/doc/$@/javadoc2/package-list
	ln -s $(package)_toc.html debian/$@/usr/share/doc/$@/index.html
	cp -p debian/copyright debian/$@/usr/share/doc/$@
	cp -p ChangeLog debian/$@/usr/share/doc/$@/changelog
	cp -p debian/changelog debian/$@/usr/share/doc/$@/changelog.Debian
	cd debian/$@/usr/share/doc/$@ && gzip -9 changelog changelog.Debian

	dpkg-shlibdeps debian/$@/usr/bin/*
	dpkg-gencontrol -p$@ -Pdebian/$@
	cd debian/$@ && \
		md5sum `find * -type f ! -regex "DEBIAN/.*"` > DEBIAN/md5sums
	chown -R 0:0 debian/$@
	chmod -R u+w,go=rX debian/$@
	dpkg --build debian/$@ ..

autopoint: build install
	rm -rf debian/$@/
	install -d debian/$@/DEBIAN debian/$@/usr/share/doc/$@
	cd debian/$@ && install -d usr/bin usr/share/gettext usr/share/man/man1
	cp -p debian/tmp/usr/bin/autopoint debian/$@/usr/bin
	cp -p debian/tmp/usr/share/man/man1/autopoint.1 \
		debian/$@/usr/share/man/man1
	gzip -r9 debian/$@/usr/share/man
	cp -p debian/copyright debian/README.Debian debian/$@/usr/share/doc/$@
	cp -p ChangeLog debian/$@/usr/share/doc/$@/changelog
	cp -p debian/changelog debian/$@/usr/share/doc/$@/changelog.Debian
	cd debian/$@/usr/share/doc/$@ && gzip -9 changelog changelog.Debian

	dpkg-shlibdeps debian/$@/usr/bin/*
	dpkg-gencontrol -p$@ -Pdebian/$@
	cd debian/$@ && \
		md5sum `find * -type f ! -regex "DEBIAN/.*"` > DEBIAN/md5sums
	chown -R 0:0 debian/$@
	chmod -R u+w,go=rX debian/$@
	dpkg --build debian/$@ ..

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean
.PHONY: gettext-base gettext gettext-el gettext-doc autopoint
