Source: wdiff
Upstream-Version: 0.6.5
Section: text
Priority: optional
Maintainer: Santiago Vila <sanvila@debian.org>
Build-Depends: libncurses5-dev, texinfo, texi2html
Standards-Version: 3.9.1
Homepage: http://www.gnu.org/software/wdiff/

Package: wdiff
Architecture: any
Depends: ${shlibs:Depends}, dpkg | install-info
Description: Compares two files word by word
 `wdiff' is a front-end to GNU `diff'.  It compares two files, finding
 which words have been deleted or added to the first in order to create
 the second.  It has many output formats and interacts well with
 terminals and pagers (notably with `less').  `wdiff' is particularly
 useful when two texts differ only by a few words and paragraphs have
 been refilled.

Package: wdiff-doc
Section: doc
Priority: optional
Architecture: all
Description: Documentation for GNU wdiff
 This package contains the HTML documentation for GNU wdiff.

