#!/usr/bin/make -f
# debian/rules file - for GNUPG (1.4.6)
# Based on sample debian/rules file - for GNU Hello (1.3).
# Copyright 1994,1995 by Ian Jackson.
# Copyright 1998-2006 by James Troup.
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified

#include /usr/share/dpatch/dpatch.make

################################## variables #################################

#VERSION := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2)

CC = gcc
CXX = g++
SHELL = /bin/bash

DEB_BUILD_GNU_TYPE = $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE  = $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_ARCH    := $(shell dpkg-architecture -qDEB_BUILD_ARCH)

#CONFARGS  = --prefix=/usr --libexecdir=/usr/lib/ \
#            --enable-mailto --with-mailprog=/usr/sbin/sendmail \
#            --enable-noexecstack
CONFARGS = \
	    --with-pinentry-pgm=/usr/lib/pinentry \
	    --prefix=/usr \
	    --libexecdir=/usr/bin \
	    --datadir=/usr/share \
	    --sysconfdir=/etc


ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
CONFARGS += --host=$(DEB_HOST_GNU_TYPE)
endif

ifeq ($(DEB_BUILD_ARCH),ppc64)
CONFARGS += --disable-asm
endif

#LDFLAGS += -Wl,--as-needed

CFLAGS += -DSOLARIS

################################### configure ################################

patch: patch-stamp
patch-stamp:
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2
	touch $@

unpatch:
	QUILT_PATCHES=debian/patches quilt pop -a -f || test $$? = 2
	rm -f patch-stamp

build-deb/config.status:
	dh_testdir
	(mkdir -p $(@D); cd $(@D); \
	    CFLAGS="$(CFLAGS)" CONFDIR=/etc \
	    ../configure $(CONFARGS) )

#	    ../configure $(CONFARGS) --without-libcurl)

#build-deb-curl/config.status:
#	dh_testdir
#	(mkdir -p $(@D); cd $(@D); \
#	    CFLAGS="$(CFLAGS)" CONFDIR=/etc \
#	    ../configure $(CONFARGS))

#build-udeb/config.status:
#	dh_testdir
#	(mkdir -p $(@D); cd $(@D); CFLAGS="-g -Os" \
#	    ../configure $(CONFARGS) \
#	    --without-bzip2 --without-readline --without-libcurl)

##################################### build ##################################

build-deb-stamp: patch-stamp build-deb/config.status
	dh_testdir
	$(MAKE) -C build-deb/
	touch $@

build-deb-curl-stamp: patch-stamp build-deb-curl/config.status
	dh_testdir
	$(MAKE) -C build-deb-curl/
	touch $@

#build-udeb-stamp: patch-stamp build-udeb/config.status
#	dh_testdir
#	$(MAKE) -C build-udeb/
#	touch $@

#build: build-deb-stamp build-deb-curl-stamp build-udeb-stamp
#build: build-deb-stamp build-deb-curl-stamp
build: build-deb-stamp

##################################### clean ##################################

clean: unpatch
	dh_testdir
	dh_testroot
	rm -rf build-udeb/ build-deb-curl/ build-deb/
	# find . -name \*~ | xargs rm -vf
	dh_clean build-deb-stamp build-deb-curl-stamp build-udeb-stamp patch-stamp

#################################### install #################################

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) -C build-deb install DESTDIR=$(CURDIR)/debian/gnupg
#	: # Move localized manpages to FHS compliant locations
#	mv debian/gnupg/usr/share/man/man1/gpg.ru.1 debian/gnupg/usr/share/man/ru/man1/gpg.1
	: # Remove from /usr/share/gnupg what we install into /usr/share/doc/gnupg/
	$(RM) debian/gnupg/usr/share/gnupg/FAQ \
	      debian/gnupg/usr/share/gnupg/faq.html
	$(RM) debian/gnupg/usr/share/info/dir*
	find debian/gnupg/ -type d -empty | xargs rm -rf

#	$(MAKE) -C build-deb-curl/keyserver install DESTDIR=$(CURDIR)/debian/gnupg-curl
#	$(RM) debian/gnupg-curl/usr/lib/gnupg/gpgkeys_finger \
#	      debian/gnupg-curl/usr/lib/gnupg/gpgkeys_ldap \
#	      debian/gnupg-curl/usr/lib/gnupg/gpgkeys_mailto

#################################### binary ##################################

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs NEWS
	# Do we want to ship these 100 of kB's changelogs?
#	for i in checks cipher doc g10 include keyserver mpi po tools util; do \
#	    install -m 644 $$i/ChangeLog debian/gnupg/usr/share/doc/gnupg/changelog.$$i; \
#	done
	install -m 644 ChangeLog debian/gnupg/usr/share/doc/gnupg/changelog.toplevel
#	install -m 644 keyserver/ChangeLog debian/gnupg-curl/usr/share/doc/gnupg-curl/changelog.keyserver
#	dh_installdocs
	dh_installexamples
	dh_movefiles -pgpgv --sourcedir=debian/gnupg
	dh_install
#	dh_installinfo doc/gnupg1.info
	dh_installman
#	dh_installudev
	if which dh_bugfiles ; then dh_bugfiles ; fi
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps -X debian/gnupg/usr/lib/gnupg/gpgkeys_ldap -- -dRecommends $(CURDIR)/debian/gnupg/usr/lib/gnupg/gpgkeys_ldap -dDepends
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build binary binary-arch binary-indep clean
