Source: debiandoc-sgml
Section: text
Priority: optional
Maintainer: Osamu Aoki <osamu@debian.org>
Uploaders: Ardo van Rangelrooij <ardo@debian.org>, Jens Seidel <tux-master@web.de>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 7.0.50~)
Vcs-Git: git://git.debian.org/git/collab-maint/debiandoc-sgml.git
Vcs-browser: http://git.debian.org/?p=collab-maint/debiandoc-sgml.git


Package: debiandoc-sgml
Architecture: all
Depends: ${perl:Depends}, libhtml-parser-perl, libi18n-langtags-perl, libroman-perl, libsgmls-perl, libtext-format-perl, liburi-perl, sgml-data, sgmlspl, sp, ${misc:Depends}
Recommends: libpaperg, texlive-latex-recommended, texlive-latex-base, texlive-latex-extra, texlive-fonts-recommended, texinfo, ghostscript | gs 
Suggests: debiandoc-sgml-doc, latex-cjk-all, hlatex, littex
Description: DebianDoc SGML DTD and formatting tools
 This is an SGML-based documentation formatting package used for the
 Debian manuals.  It reads markup files and produces HTML, LaTeX, DVI 
 (via LaTeX), PostScript (via LaTeX/DVI), PDF (via LaTeX), Texinfo,
 Info (via Texinfo), DebianDoc SGML, DocBook XML, plain text (with
 overstrikes a la troff as well as without) files.
 .
 The LaTeX based output needs the libpaperg, texlive-latex-recommended,
 texlive-latex-base, texlive-latex-extra and texlive-fonts-recommended
 packages.  In addition to this, Chinese and Japanese need cjk-latex and 
 corresponding font packages while Korean needs hlatex and corresponding 
 font packages. The Texinfo based output needs the texinfo package. 
