Source: turbogears
Upstream-Version: 1.1.1
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Federico Ceratto <federico.ceratto@gmail.com>, Enrico Zini <enrico@debian.org>
Build-Depends: debhelper, python-support, python, python-cheetah, python-cherrypy, python-configobj, python-peak.util.decorators, python-formencode, python-kid, python-nose, python-paste, python-pastedeploy, python-pastescript, python-setuptools, python-simplejson, python-sqlalchemy, python-sqlobject, python-turbokid, python-turbojson
Standards-Version: 3.8.4
Homepage: http://www.turbogears.org/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/turbogears/trunk/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/turbogears/trunk/

Package: python-turbogears
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python, python-cheetah, python-cherrypy, python-configobj, python-peak.util.decorators, python-formencode, python-kid, python-nose, python-paste, python-pastedeploy, python-pastescript, python-pkg-resources, python-simplejson, python-sqlalchemy | python-sqlobject, python-turbokid, python-turbojson, python-markdown
Recommends: python-elixir, python-pysqlite2, python-myghty, python-genshi
Description: Python-based web framework
 TurboGears takes the best components available and combines them into one
 easy-to-install, documented whole. TurboGears includes parts that join the
 pieces together and make them work together seamlessly, but doesn't obscure
 each included project. This allows you to take advantage of all existing
 documentation, articles, mailing lists and other resources that have built up
 in the communities for each project.
 .
 TurboGears glues together the following components:
 .
  * CherryPy/Paste frameworks
  * SQLObject/SQLAlchemy Object Relational Mappers
  * Kid/Genshi templating systems
  * Mochikit javascript library
