Source: apache2
Section: httpd
Priority: optional
Maintainer: Igor Pashev <igor.pashev@nexenta.com>
Build-Depends:
 debhelper,
 libaprutil1-dev, libapr1-dev,
 openssl,
 libpcre3-dev,
 mawk,
 zlib1g-dev,
 libssl-dev,
 sharutils 
Build-Conflicts: autoconf2.13
Upstream-Version: 2.2.19
Standards-Version: 3.9.1
Homepage: http://httpd.apache.org/

Package: apache2.2-common
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, perl
Recommends: ssl-cert
Suggests: www-browser, apache2-doc
Description: Apache HTTP Server common files
 The Apache Software Foundation's goal is to build a secure, efficient and
 extensible HTTP server as standards-compliant open source software. The
 result has long been the number one web server on the Internet.
 .
 This package contains the configuration and support scripts.

Package: apache2.2-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 apache2.2-common (= ${binary:Version})
Provides: apache2-mpm-worker, apache2-mpm-prefork, apache2-mpm-event
Description: Apache HTTP Server common binary files
 The Apache Software Foundation's goal is to build a secure, efficient and
 extensible HTTP server as standards-compliant open source software. The
 result has long been the number one web server on the Internet.
 .
 This package contains Apache executables and modules.


Package: apache2-utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: utility programs for webservers
 Provides some add-on programs useful for any webserver.  These include:
  - ab (Apache benchmark tool)
  - logresolve (Resolve IP addresses to hostname in logfiles)
  - htpasswd (Manipulate basic authentication files)
  - htdigest (Manipulate digest authentication files)
  - dbmmanage (Manipulate basic authentication files in DBM format, using perl)
  - htdbm (Manipulate basic authentication files in DBM format, using APR)
  - rotatelogs (Periodically stop writing to a logfile and open a new one)
  - split-logfile (Split a single log including multiple vhosts)
  - checkgid (Checks whether the caller can setgid to the specified group)
  - check_forensic (Extract mod_log_forensic output from Apache log files)

Package: apache2-suexec
Priority: optional
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, apache2.2-common
Description: Standard suexec program for Apache 2 mod_suexec
 Provides the standard suexec helper program for mod_suexec. This version is 
 compiled with document root /var/www and userdir suffix public_html. If you
 need different settings, use the package apache2-suexec-custom.

#Package: apache2-suexec-custom
#Priority: extra
#Architecture: any
#Depends: ${misc:Depends}, ${shlibs:Depends}, apache2.2-common
#Provides: apache2-suexec
#Conflicts: apache2-suexec, apache-common
#Replaces: apache2-suexec
#Description: Configurable suexec program for Apache 2 mod_suexec
# Provides a customizable version of the suexec helper program for mod_suexec.
# This is not the version from upstream, but can be configured with a
# configuration file. 
# .
# If you do not need non-standard document root or userdir settings, it is
# recommended that you use the standard suexec helper program from the
# apache2-suexec package instead.

Package: apache2
Architecture: any
Depends:
 ${misc:Depends},
 apache2.2-bin (= ${binary:Version}),
 apache2-utils (= ${binary:Version})
Description: Apache HTTP Server metapackage         
 The Apache Software Foundation's goal is to build a secure, efficient and
 extensible HTTP server as standards-compliant open source software. The
 result has long been the number one web server on the Internet.
 .
 It features support for HTTPS, virtual hosting, CGI, SSI, IPv6, easy
 scripting and database integration, request/response filtering, many
 flexible authentication schemes, and more.

Package: apache2-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Apache HTTP Server documentation
 This package provides the documentation for Apache 2. For more details
 see the apache2 package description.

Package: apache2-prefork-dev
Architecture: any
Depends: ${misc:Depends}, openssl,
 libaprutil1-dev
Conflicts: apache2-threaded-dev
Priority: extra
Description: Apache development headers - non-threaded MPM
 This package provides the development headers and apxs2 binary for
 apache2-mpm-prefork; see the apache2 package description for more details.
 .
 This should only be used when you absolutely *must* support a non-threaded
 environment (for PHP, for example).

Package: apache2-threaded-dev
Architecture: any
Depends: ${misc:Depends}, openssl,
 libaprutil1-dev
Conflicts: apache2-prefork-dev
Provides: apache2-dev
Priority: extra
Description: Apache development headers - threaded MPM
 This package provides the development headers and apxs2 binary for
 threaded versions of apache2; see the apache2 package description
 for more details.

Package: apache2-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, apache2.2-bin (= ${binary:Version})
Description: Apache debugging symbols
 This package includes the debugging symbols for Apache 2.
