#!/usr/bin/make -f

BUILD = build-tree

CFLAGS += \
		  -g -pipe -I/usr/include/xmltok -I/usr/include/openssl \
		  -Wall -Wformat -Wformat-security -D_FORTIFY_SOURCE=2 -fstack-protector

LDFLAGS += -lssp_nonshared -lssp -Wl,--as-needed -Wl,-z,relro

CC_32 = gcc -m32
CC_64 = gcc -m64

CFLAGS_32 =
CFLAGS_64 =

LDFLAGS_32 = -L/usr/lib -R/usr/lib
LDFLAGS_64 = -L/usr/lib/amd64 -R/usr/lib/amd64

# See config.layout
LAYOUT_32=Nexenta
LAYOUT_64=$(LAYOUT_32)-amd64

APACHE_USER  = webservd
APACHE_GROUP = webservd

MPMS = worker prefork event

# PIE for amd64 is broken (?)
CONFIGURE_OPTIONS_COMMON = \
	--enable-so \
	--with-program-name=apache2  \
	--with-ldap=yes --with-ldap-include=/usr/include \
	--with-suexec-caller=$(APACHE_USER) \
	--with-suexec-docroot=/var/www \
	--with-suexec-userdir=public_html \
	--with-suexec-logfile=/var/log/apache2/suexec.log \
	--with-suexec-uidmin=100 \
	--enable-suexec=shared \
	--enable-log-config=static \
	--enable-logio=static \
	--with-pcre=yes \
	--disable-pie \
	ac_cv_prog_AWK=mawk \
	ac_cv_prog_LYNX_PATH=www-browser

CONFIGURE_OPTIONS_32 = \
    --enable-layout=${LAYOUT_32} \
	--target=i386-pc-solaris2.11 \
	--with-ldap-lib=/usr/lib \
	--with-suexec-bin=/usr/lib/apache2/suexec \
	--with-apr=/usr/bin/apr-1-config \
	--with-apr-util=/usr/bin/apu-1-config \
	PCRE_CONFIG=/usr/bin/pcre-config

CONFIGURE_OPTIONS_64 = \
    --enable-layout=${LAYOUT_64} \
	--target=x86_64-pc-solaris2.11 \
	--with-ldap-lib=/usr/lib/amd64 \
	--with-suexec-bin=/usr/lib/apache2/amd64/suexec \
	--with-apr=/usr/bin/amd64/apr-1-config \
	--with-apr-util=/usr/bin/amd64/apu-1-config \
	PCRE_CONFIG=/usr/bin/amd64/pcre-config

CONFIGURE_MODULES = \
	--enable-authn-alias=shared --enable-authnz-ldap=shared  \
	--enable-disk-cache=shared --enable-cache=shared \
	--enable-mem-cache=shared --enable-file-cache=shared \
	--enable-cern-meta=shared --enable-dumpio=shared \
	--enable-ext-filter=shared \
	--enable-charset-lite=shared --enable-cgi=shared \
	--enable-dav-lock=shared --enable-log-forensic=shared \
	--enable-ldap=shared --enable-proxy=shared \
	--enable-proxy-connect=shared --enable-proxy-ftp=shared \
	--enable-proxy-http=shared --enable-proxy-ajp=shared \
	--enable-proxy-scgi=shared \
	--enable-proxy-balancer=shared --enable-ssl=shared \
	--enable-authn-dbm=shared --enable-authn-anon=shared \
	--enable-authn-dbd=shared --enable-authn-file=shared \
	--enable-authn-default=shared --enable-authz-host=shared \
	--enable-authz-groupfile=shared --enable-authz-user=shared \
	--enable-authz-dbm=shared --enable-authz-owner=shared \
	--enable-authnz-ldap=shared --enable-authz-default=shared \
	--enable-auth-basic=shared --enable-auth-digest=shared \
	--enable-dbd=shared --enable-deflate=shared \
	--enable-include=shared --enable-filter=shared \
	--enable-env=shared --enable-mime-magic=shared \
	--enable-expires=shared --enable-headers=shared \
	--enable-ident=shared --enable-usertrack=shared \
	--enable-unique-id=shared --enable-setenvif=shared \
	--enable-version=shared --enable-status=shared \
	--enable-autoindex=shared --enable-asis=shared \
	--enable-info=shared --enable-cgid=shared \
	--enable-dav=shared --enable-dav-fs=shared \
	--enable-vhost-alias=shared --enable-negotiation=shared \
	--enable-dir=shared --enable-imagemap=shared \
	--enable-actions=shared --enable-speling=shared \
	--enable-userdir=shared --enable-alias=shared \
	--enable-rewrite=shared --enable-mime=shared \
	--enable-substitute=shared  --enable-reqtimeout=shared


# Build modules only once, all MPMs use the same modules:
MODULES_worker  = $(CONFIGURE_MODULES)
MODULES_prefork = --enable-modules=none
MODULES_event   = --enable-modules=none
MODULES_itk     = --enable-modules=none



build install binary binary-arch binary-indep clean:
	dh $@


######## BUILD STUFF #########

MPM_SCRIPTS_TMPL  := $(wildcard debian/mpms.*)
MPM_SCRIPTS_TYPES := $(patsubst debian/mpms.%, %, $(MPM_SCRIPTS_TMPL))
MPM_SCRIPTS       := $(foreach s, $(MPM_SCRIPTS_TYPES), \
					   $(foreach m, $(MPMS), \
					    debian/apache2-mpm-$(m).$(s)))

# post/pre/rm/inst scripts from one template:
$(MPM_SCRIPTS):
	$(eval tmpl := $(shell echo $@ | cut -d. -f2))
	$(eval mpm  := $(shell echo $@ | cut -d- -f3 | cut -d. -f1))
	sed 's|MPMXXX|$(mpm)|g' debian/mpms.$(tmpl) > $@


MPM32 = $(foreach mpm, $(MPMS), mpm32-$(mpm))
MPM64 = $(foreach mpm, $(MPMS), mpm64-$(mpm))
	 
override_dh_auto_configure:
override_dh_auto_build: $(MPM32) $(MPM64)
	for mpm in $(MPM32) $(MPM64); do \
		if ! diff -u $(BUILD)/$$mpm/mods.list $(BUILD)/mpm32-worker/mods.list ; then \
			echo "** Different modules built into apache2 binaries, will not proceed **";\
			exit 1 ;\
		fi \
	done

$(MPM32) $(MPM64):
	dh_testdir
	$(eval bits := $(shell echo $@ | grep -o '\(32\|64\)')) # 32 or 64
	$(eval mpm  := $(shell echo $@ | cut -d- -f2)) # worker or prefork or ...
	mkdir -p $(BUILD)/$@
	cd $(BUILD)/$@ && \
		$(CURDIR)/configure \
		$(CONFIGURE_OPTIONS_COMMON) \
		$(CONFIGURE_OPTIONS_$(bits)) \
		$(MODULES_$(mpm)) \
		CC="$(CC_$(bits))" \
		LDFLAGS="$(LDFLAGS_$(bits)) $(LDFLAGS)" \
		CFLAGS="$(CFLAGS_$(bits)) $(CFLAGS)" \
		--with-mpm=$(mpm)
	$(MAKE) -C $(BUILD)/$@
	cd $(BUILD)/$@ && ./apache2 -l | grep -v $(mpm) > mods.list
	touch $@



######## INSTALL STUFF #########
override_dh_auto_install:
	# debian/tmp has files for `threaded-dev' (worker) (headers differ)
	# install main MPM, icons, docs, mans, modules for i386
	$(MAKE) -C $(BUILD)/mpm32-worker -j1 install DESTDIR=$(CURDIR)/debian/tmp

	# installing `prefork' stuff (headers and build files, which differ from `threaded')
	$(MAKE) -C $(BUILD)/mpm32-prefork -j1 \
		install-build \
		install-include \
		DESTDIR=$(CURDIR)/debian/tmp/prefork

	# install modules and utilities for amd64
	$(MAKE) -C $(BUILD)/mpm64-worker/modules -j1 install DESTDIR=$(CURDIR)/debian/tmp
	$(MAKE) -C $(BUILD)/mpm64-worker/support -j1 install DESTDIR=$(CURDIR)/debian/tmp
	$(MAKE) -C $(BUILD)/mpm64-worker  -j1 install-suexec DESTDIR=$(CURDIR)/debian/tmp

	rm -r debian/tmp/etc/apache2/original
	rm  debian/tmp/usr/share/man/man8/httpd.8 # We install our own
	mv debian/tmp/usr/share/man/man8/apxs.8 debian/tmp/usr/share/man/man8/apxs2.8
	mv debian/tmp/usr/share/man/man8/apachectl.8 debian/tmp/usr/share/man/man8/apache2ctl.8

	cp debian/icons/* debian/tmp/usr/share/apache2/icons/

	# It was mpm-worker for 32 bits:
	rm $(CURDIR)/debian/tmp/usr/sbin/apache2

	# We do it beacuse Debhelper can't rename files:
	mkdir -p $(CURDIR)/debian/tmp/usr/sbin/{i86,amd64}
	cp $(BUILD)/mpm32-worker/apache2   $(CURDIR)/debian/tmp/usr/sbin/i86/apache2-worker
	cp $(BUILD)/mpm32-prefork/apache2  $(CURDIR)/debian/tmp/usr/sbin/i86/apache2-prefork
	cp $(BUILD)/mpm32-event/apache2    $(CURDIR)/debian/tmp/usr/sbin/i86/apache2-event

	cp $(BUILD)/mpm64-worker/apache2   $(CURDIR)/debian/tmp/usr/sbin/amd64/apache2-worker
	cp $(BUILD)/mpm64-prefork/apache2  $(CURDIR)/debian/tmp/usr/sbin/amd64/apache2-prefork
	cp $(BUILD)/mpm64-event/apache2    $(CURDIR)/debian/tmp/usr/sbin/amd64/apache2-event


override_dh_fixperms:
	dh_fixperms
	chown -R $(APACHE_USER):$(APACHE_GROUP) debian/apache2.2-common/var/cache/apache2
	chown root:adm debian/apache2.2-common/var/log/apache2
	chmod o-rx debian/apache2.2-common/var/log/apache2
	chmod 4754 \
		debian/apache2-suexec/usr/lib/apache2/suexec \
		debian/apache2-suexec/usr/lib/amd64/apache2/suexec 
	chgrp $(APACHE_GROUP) \
		debian/apache2-suexec/usr/lib/apache2/suexec \
		debian/apache2-suexec/usr/lib/amd64/apache2/suexec

override_dh_compress:
	# don't compress manual (in apache2-doc)
	dh_compress -Xmanual

# For /etc/default/apache2
override_dh_installinit:
	dh_installinit --name=apache2

override_dh_installlogrotate:
	dh_installlogrotate --name=apache2

override_dh_installcron:
	dh_installcron --name=apache2

override_dh_installdocs:
	dh_installdocs
	# remove content negotiation
	mv debian/apache2-doc/usr/share/doc/apache2-doc/manual \
		debian/apache2-doc/usr/share/doc/apache2-doc/manual.orig

	perl debian/convert_docs \
		debian/apache2-doc/usr/share/doc/apache2-doc/manual.orig \
		debian/apache2-doc/usr/share/doc/apache2-doc/manual
	
	mv debian/apache2-doc/usr/share/doc/apache2-doc/manual.orig/images \
		debian/apache2-doc/usr/share/doc/apache2-doc/manual.orig/style \
		debian/apache2-doc/usr/share/doc/apache2-doc/manual

	rm -r debian/apache2-doc/usr/share/doc/apache2-doc/manual.orig


override_dh_install: $(MPM_SCRIPTS)
	dh_install
	dh_bash-completion


override_dh_auto_clean:
	rm -rf $(BUILD)
	rm -f $(MPM32) $(MPM64)
	rm -f $(MPM_SCRIPTS)

