Source: python-eventlet
Upstream-Version: 0.9.16
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders:
 Stefano Rivera <stefanor@debian.org>,
 Monty Taylor <mordred@inaugust.com>
Build-Depends:
 debhelper,
 python-all,
 python-greenlet,
 python-setuptools,
 python-zmq,
# only for testing:
# (but mock can be avoided, see debian/rules)
# python-mock,
# python-openssl,
# python-httplib2,
# python-nose,
X-Python-Version: >= 2.6
Standards-Version: 3.9.2
Homepage: http://eventlet.net
Vcs-Svn: svn://svn.debian.org/python-modules/packages/python-eventlet/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/python-eventlet/trunk/

Package: python-eventlet
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Description: concurrent networking library for Python
 Eventlet allows you to change how you run your code, not how you write it.
 .
 It uses epoll or libevent for highly scalable non-blocking I/O.
 Coroutines ensure that the developer uses a blocking style of programming
 that is similar to threading, but provide the benefits of non-blocking I/O.
 The event dispatch is implicit, which means you can easily use Eventlet from
 the Python interpreter, or as a small part of a larger application.
 .
 It's easy to get started using Eventlet, and easy to convert existing
 applications to use it. Start off by looking at examples, common design
 patterns, and the list of the basic API primitives.
