Source: html2text
Section: web
Priority: optional
Maintainer: Eugene V. Lyubimkin <jackyf@debian.org>
Build-Depends: debhelper (>= 6)
Standards-Version: 3.8.4
Vcs-Git: git://git.debian.org/collab-maint/html2text.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/html2text.git;a=summary
DM-Upload-Allowed: yes
Homepage: http://www.mbayer.de/html2text/
Upstream-Version: 1.3.21-15

Package: html2text
Architecture: any
Depends: ${misc:Depends}, libgcc1, libstdc++6, sunwcs, system-library
Suggests: curl | wget
Description: advanced HTML to text converter
 html2text is a converter from HTML to plain text.
 .
 html2text reads HTML documents supplied in the command line (or from standard
 input), converts each of them into a stream of plain text characters and
 writes output to the file or the terminal.
 .
 Debian version also can recognize encoding of documents, do on-fly
 input and output recoding.
 .
 html2text was written because the author wasn't happy with the 
 output of "lynx -dump" and so he wrote something better.
