Source: libtext-csv-xs-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 8), perl,
 libtest-pod-perl,
 libtest-pod-coverage-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Niko Tyni <ntyni@debian.org>,
 Krzysztof Krzyzaniak (eloy) <eloy@debian.org>, Damyan Ivanov <dmn@debian.org>,
 gregor herrmann <gregoa@debian.org>, Vincent Danjean <vdanjean@debian.org>,
 Ansgar Burchardt <ansgar@debian.org>, Jonathan Yu <jawnsy@cpan.org>,
 Jose Luis Rivas <ghostbar@debian.org>, Ryan Niebur <ryan@debian.org>,
 Franck Joncourt <franck@debian.org>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/Text-CSV_XS/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libtext-csv-xs-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libtext-csv-xs-perl/
Upstream-Version: 0.81-1

Package: libtext-csv-xs-perl
Architecture: any
Depends: ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}
Enhances: libtext-csv-perl
Breaks: libtext-csv-perl (<= 1.05)
Replaces: libtext-csv-perl (<= 1.05)
Description: Perl C/XS module to process Comma-Separated Value files
 Text::CSV_XS provides facilities for the composition and decomposition of
 comma-separated values. This module can combine fields into a CSV string and,
 correspondingly, parse a CSV string back into fields.
 .
 Text::CSV (see libtext-csv-perl) is a wrapper module which will automatically
 select the most appropriate implementation for your configuration.
