Source: docbook-to-man
Upstream-Version: 2.0.0
Section: text
Priority: optional
Maintainer: Philipp Benner <philipp@debian.org>
Build-Depends: debhelper
Standards-Version: 3.8.4
Vcs-Browser: http://svn.debian.org/wsvn/collab-maint/deb-maint/docbook-to-man/
Vcs-Svn: svn://svn.debian.org/collab-maint/deb-maint/docbook-to-man/
Homepage: http://www.oasis-open.org/docbook/tools/dtm/

Package: docbook-to-man
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, docbook, sp | opensp
Description: converter from DocBook SGML into roff man macros
 docbook-to-man is a batch converter that transforms UNIX-style manpages from
 the DocBook SGML format into nroff/troff man macros.
 .
 This is not the original version by Fred Dalrymple, but one with the
 modifications by David Bolen.
