#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) ROOT=/usr

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/docbook-to-man/usr/bin
	mkdir -p $(CURDIR)/debian/docbook-to-man/usr/share/sgml
	$(MAKE) install ROOT=$(CURDIR)/debian/docbook-to-man/usr

override_dh_auto_clean:
	$(MAKE) clean
	$(MAKE) clobber

