Source: readline5
Section: libs
Priority: extra
Maintainer: Matthias Klose <doko@debian.org>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7), lsb-release [!solaris-i386], libncurses5-dev (>= 5.6), lib32ncurses5-dev [amd64 ppc64], lib64ncurses5-dev [i386 powerpc sparc s390 solaris-i386], mawk | awk, texinfo, autotools-dev, gcc-multilib [amd64 i386 kfreebsd-amd64 powerpc ppc64 s390 sparc solaris-i386]
Upstream-Version: 5.2-7

Package: libreadline5
Architecture: any
Depends: readline-common, ${shlibs:Depends}
Section: libs
Description: GNU readline and history libraries, run-time libraries
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.

Package: lib64readline5
Architecture: i386 powerpc s390 sparc
Depends: readline-common, ${shlibs:Depends}
Section: libs
Description: GNU readline and history libraries, run-time libraries (64-bit)
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.

Package: libreadline5-dev
Architecture: any
Depends: libreadline5 (= ${binary:Version}), libncurses5-dev, ${shlibs:Depends}
Conflicts: libreadline-dev
Section: libdevel
Description: GNU readline and history libraries, development files
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.
 .
 This package contains as well the readline documentation in info format.

Package: lib64readline5-dev
Architecture: i386 powerpc s390 sparc
Depends: lib64readline5 (= ${binary:Version}), lib64ncurses5-dev, ${devxx:Depends}, ${shlibs:Depends}
Provides: lib64readline-dev
Conflicts: lib64readline-dev
Replaces: libreadline5-dev (<< 4.1-6)
Section: libdevel
Description: GNU readline and history libraries, development files (64-bit)
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.

Package: libreadline5-dbg
Architecture: any
Depends: libreadline5 (= ${binary:Version}), ${shlibs:Depends}
Conflicts: libreadline-dbg
Provides: libreadline-dbg
Suggests: libreadline5-dev
Section: debug
Description: GNU readline and history libraries, debugging libraries
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.

Package: lib32readline5
Architecture: amd64 ppc64
Pre-Depends: ${lib32:Predep}
Depends: readline-common, ${shlibs:Depends}
Section: libs
Description: GNU readline and history libraries, run-time libraries (32-bit)
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.

Package: lib32readline5-dev
Architecture: amd64 ppc64
Pre-Depends: ${lib32:Predep}
Depends: lib32readline5 (= ${binary:Version}), lib32ncurses5-dev, ${devxx:Depends}, ${shlibs:Depends}
Provides: lib32readline-dev
Conflicts: lib32readline-dev
Section: libdevel
Description: GNU readline and history libraries, development files (32-bit)
 The GNU readline library aids in the consistency of user interface
 across discrete programs that need to provide a command line
 interface.
 .
 The GNU history library provides a consistent user interface for
 recalling lines of previously typed input.
