#!/usr/bin/make -f

# Avoid Makefile
%:
	dh $@ --with python2 --buildsystem=python_distutils

# Very much time, and not all are correct:
override_dh_auto_test:

override_dh_install:
	# Move *_d.so files away from debian/tmp:
	dh_movefiles -p cython-dbg
	dh_movefiles --remaining-packages
	dh_install

override_dh_strip:
	dh_strip -p cython --dbg-package=cython-dbg

