Source: dtrctkit
Section: admin
Priority: optional
Maintainer: Peter Bisroev <peter@probablyprime.net>
Build-Depends: debhelper (>= 5.0.0), tar (>= 1.15.0)
Standards-Version: 3.6.2

Package: dtrctkit
Architecture: all
Section: admin
Priority: optional
Depends: developer-dtrace (>= 5.11), mawk, coreutils (>= 5.93), bash (>= 3.1), cpp-4.2, lib64z1
Enhances: sunwdtrc
Description: Collection of useful documented scripts for DTrace.
 The DTraceToolkit is a collection of tools written using DTrace for
 the Solaris 10[tm] OS by Sun Microsystems[tm]. Many of these scripts
 will also work on OpenSolaris.
 .
 The tools are split into several sections such as:
 .
  - Applications
  - CPU
  - Disk
  - Extra
  - File System
  - Kernel
  - Locks
  - Memory
  - Misc
  - Network
  - Processes
  - System
  - User
  - Zones
 .
 There are a total of 104 scripts included in this package.
 .
 The original package is created by Brendan Gregg and can be 
 downloaded from http://www.brendangregg.com or from 
 http://opensolaris.org/os/community/dtrace/dtracetoolkit/.
     
