Source: lmodern
Section: fonts
Priority: optional
Maintainer: Debian TeX maintainers <debian-tex-maint@lists.debian.org>
Uploaders: Julian Gilbey <jdg@debian.org>, C.M. Connelly <cmc@debian.org>, Atsuhito KOHDA <kohda@debian.org>, Frank Küster <frank@debian.org>, Florent Rougon <frn@debian.org>, Norbert Preining <preining@debian.org>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: defoma (>= 0.7.0), tex-common (>= 1.18)
Standards-Version: 3.8.3
Vcs-Svn: svn://svn.debian.org/svn/debian-tex/lmodern/trunk
Vcs-Browser: http://svn.debian.org/wsvn/debian-tex/lmodern/trunk/
Homepage: http://www.gust.org.pl/projects/e-foundry/latin-modern/

Package: lmodern
Section: fonts
Architecture: all
Depends: defoma (>= 0.5.0), ${misc:Depends}
Conflicts: lm, lmodern-x11, context (<= 2008.10.31-1)
Replaces: lm, lmodern-x11
Description: scalable PostScript and OpenType fonts based on Computer Modern
 The Latin Modern fonts, also known as "lm fonts", are a set of
 scalable fonts in PostScript Type 1 and OpenType formats. They are
 based on the PostScript Type 1 version of the Computer Modern fonts
 and contain many additional characters (mostly accented ones).
 .
 The Latin Modern fonts were generated using MetaType1, a program
 based on MetaPost for generating PostScript Type 1 fonts
 (ftp://bop.eps.gda.pl/pub/metatype1/). Their size is reasonable and
 they are usually considered to be of good quality (compared to
 cm-super, for instance; however, cm-super contains font families
 that have no equivalent in this package; additionally, there are
 character sets that are supported by cm-super and not by the Latin
 Modern fonts).
 .
 The fonts are setup for use with the TeX typesetting system. They
 are also registered with defoma, which makes them available to other
 applications such as Ghostscript and Fontconfig. Finally, they are
 made available to the core X11 fonts system, which makes it possible
 to use them in any X application.
