Source: base-files
Section: admin
Priority: required
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>

Package: base-files
Provides: base, lsb-release
Architecture: any
Depends: sunwcs
Priority: required
Replaces: base, miscutils, lsb-release (<< 3.0-8)
Description: Debian base system miscellaneous files
 This package contains the basic filesystem hierarchy of a Debian system, and
 several important miscellaneous files, such as /etc/debian_version,
 /etc/host.conf, /etc/issue, /etc/motd, /etc/profile,
 and others, and the text of several common licenses in use on Debian systems.

#Package: lsb-release-udeb
#Section: debian-installer
#Architecture: all
#Priority: extra
#Description: LSB release information
