#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	cat NEWS OLDNEWS > changelog

override_dh_auto_clean:
	dh_auto_clean
	rm -f changelog

override_dh_auto_install:
	dh_auto_install
	# Crazy man pages...
	# we install prepared from debian/*
	rm -rf $(CURDIR)/debian/*/usr/share/man
