Source: libfile-find-rule-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7.0.8), quilt (>= 0.46-7)
Build-Depends-Indep: perl, libtext-glob-perl, libnumber-compare-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Niko Tyni <ntyni@iki.fi>, Gunnar Wolf <gwolf@debian.org>,
 gregor herrmann <gregoa@debian.org>, Jonathan Yu <jawnsy@cpan.org>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/File-Find-Rule/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libfile-find-rule-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libfile-find-rule-perl/
Upstream-Version: 0.32-1

Package: libfile-find-rule-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libtext-glob-perl, libnumber-compare-perl
Description: module to search for files based on rules
 File::Find::Rule is a Perl module which essentially provides an easy-to-use
 interface to the popular module, File::Find. It provides a way to build rules
 that specify desired file and directory names using a text-globbing syntax
 (provided by Text::Glob). This makes it useful for simple tasks, like finding
 all ".pm" files in a given directory.
