Source: libhtml-tagset-perl
Uploaders: Krzysztof Krzyżaniak (eloy) <eloy@debian.org>, 
 Kenneth J. Pronovici <pronovic@debian.org>,
 gregor herrmann <gregor+debian@comodo.priv.at>
Section: perl
Priority: optional
Build-Depends: debhelper (>= 6), quilt (>= 0.40)
Build-Depends-Indep: perl, libtest-pod-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Standards-Version: 3.7.3
Homepage: http://search.cpan.org/dist/HTML-Tagset/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libhtml-tagset-perl/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-perl/trunk/libhtml-tagset-perl/


Package: libhtml-tagset-perl
Architecture: all
Depends: ${perl:Depends}
Description: Data tables pertaining to HTML
 HTML-Tagset contains data tables useful in dealing with HTML.  For instance,
 it provides %HTML::Tagset::emptyElement, which lists all of the HTML elements
 which cannot have content.  It provides no functions or methods.
