Source: python-numpy
Upstream-Version: 1.6.1
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Alexandre Fayolle <afayolle@debian.org>, Matthias Klose <doko@debian.org>, Ondrej Certik <ondrej@certik.cz>, David Cournapeau <cournape@gmail.com>, Sandro Tosi <morph@debian.org>
Build-Depends: python-all-dev, python-all-dbg, gfortran, libblas-dev [!arm !m68k], liblapack-dev [!arm !m68k], debhelper, python-docutils, python-support
X-Python-Version:  2.6, 2.7
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.debian.org/python-modules/packages/numpy/trunk
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/numpy/trunk/
Homepage: http://numpy.scipy.org/

Package: python-numpy
Architecture: any
Depends: python2.6 | python2.7, ${shlibs:Depends}, ${misc:Depends}
Suggests: python-numpy-doc, python-numpy-dbg, python-nose (>= 0.10.1), python-dev, gfortran
Provides: ${python:Provides}, python-numpy-dev, python-f2py
Description: Numerical Python adds a fast array facility to the Python language
 Numpy contains a powerful N-dimensional array object, sophisticated
 (broadcasting) functions, tools for integrating C/C++ and Fortran
 code, and useful linear algebra, Fourier transform, and random number
 capabilities.
 .
 Numpy replaces the python-numeric and python-numarray modules which are
 now deprecated and shouldn't be used except to support older
 software.

Package: python-numpy-dbg
Priority: extra
Section: debug
Architecture: any
Depends: python-numpy (= ${binary:Version}), python-dbg, ${shlibs:Depends}, ${misc:Depends}
Description: Fast array facility to the Python language (debug extension)
 Numpy contains a powerful N-dimensional array object, sophisticated
 (broadcasting) functions, tools for integrating C/C++ and Fortran
 code, and useful linear algebra, Fourier transform, and random number
 capabilities.
 .
 Numpy replaces the python-numeric and python-numarray modules which
 are now deprecated and shouldn't be used except to support older
 software.
 .
 This package contains the extension built for the Python debug interpreter.

