Source: libiconv
Priority: required
Maintainer: Erast Benson <erast@gnusolaris.org>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, gperf
Standards-Version: 3.6.1
Section: libs

Package: libiconv
Architecture: solaris-i386
Depends: 
Description: GNU iconv implementation
 This library provides an iconv() implementation, for use on
 systems which don't have one, or whose implementation cannot convert
 from/to Unicode.
