Source: tgmochikit
Upstream-Version: 1.4.2
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Federico Ceratto <federico.ceratto@gmail.com>, Enrico Zini <enrico@debian.org>
Build-Depends: debhelper, python-support, python-all, python-setuptools
Standards-Version: 3.8.3
Homepage: http://docs.turbogears.org/tgMochiKit

Package: python-tgmochikit
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Suggests: python-turbogears
Description: The MochiKit JavaScript library as a TurboGears widget
 MochiKit is a JavaScript library focused on JSON and Ajax development.
 It is provided as a widget for the TurboGears Python web framework.

