Source: libfile-remove-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7.0.8)
Build-Depends-Indep: libtest-pod-perl,  perl (>= 5.10.1) | libpod-simple-perl (>= 3.07), perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Gunnar Wolf <gwolf@debian.org>,
 Gustavo Franco <stratus@debian.org>,
 Krzysztof Krzyzaniak (eloy) <eloy@debian.org>, Damyan Ivanov <dmn@debian.org>,
 Rene Mayorga <rmayorga@debian.org>, gregor herrmann <gregoa@debian.org>,
 Iulian Udrea <iulian@ubuntu.com>,
 Salvatore Bonaccorso <salvatore.bonaccorso@gmail.com>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/File-Remove/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libfile-remove-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libfile-remove-perl/
Upstream-Version: 1.42-3

Package: libfile-remove-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Perl module to remove files or directories
 File::Remove::remove removes files and directories.  It acts like
 /bin/rm, for the most part.  Although unlink can be given a list
 of files, it will not remove directories; this module remedies that.
 It also accepts wildcards, * and ?, as arguments for filenames.
