#! /usr/bin/make -f
%:
	dh $@

DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

dtmp    = debian/man-db

include /usr/share/hardening-includes/hardening.make

# Cf. #497653
ifeq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS = -O2 -g
else
CFLAGS = -g
endif
CFLAGS += $(HARDENING_CFLAGS)
LDFLAGS := $(HARDENING_LDFLAGS)

# --libexecdir still needed due to #541458
override_dh_auto_configure:
	CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" dh_auto_configure -- \
		    --prefix=/usr/gnu \
		    --libexecdir=\$${libdir} \
	            --enable-setuid --enable-undoc='man 7 undocumented' \
	            --with-device=latin1 --enable-mb-groff \
	            --with-config-file=/etc/manpath.config \
	            --with-browser=www-browser --with-pager=pager \
	            --with-col=col --with-vgrind=vgrind --with-grap=grap \
	            --with-compress=compress --with-bzip2=bzip2 \
		    --with-lzma=lzma \
		    --with-sections='1 n l 8 3 2 5 4 9 6 7 1b 1c 1f 1m 3aio 3bsm 3c 3c_db 3cfgadm 3contract 3cpc 3curses 3dat 3devid 3devinfo 3dlpi 3dns_sd 3elf 3exacct 3ext 3fcoe 3fstyp 3gen 3gss 3head 3iscsit 3kstat 3kvm 3ldap 3lgrp 3lib 3libucb 3m 3mail 3malloc 3mlib 3mp 3mpapi 3mvec 3nsl 3nvpair 3pam 3papi 3perl 3picl 3picltree 3plot 3pool 3proc 3project 3resolv 3rpc 3rsm 3rt 3sasl 3scf 3sec 3secdb 3sip 3slp 3snmp 3stmf 3socket 3sysevent 3tnf 3tecla 3tsol 3ucb 3uuid 3volmgt 3xcurses 3xnet 7d 7fs 7i 7ipp 7m 7p 9e 9f 9p 9s'

override_dh_auto_build:
	[ ! -e po/fr.gmo ] || mv po/fr.gmo po/fr.gmo.safe
	set -e; for preserve in man/po4a/po/*.pot man/po4a/po/*.po; do \
		[ ! -e "$$preserve.safe" ] || continue; \
		cp -a "$$preserve" "$$preserve.safe"; \
	done
	dh_auto_build
	$(MAKE) -C po fr.gmo
	sed -f man/fr/replace.sed -e 's,%program%,manconv,g' \
		man/fr/man1/manconv.man1 > man/fr/man1/manconv.1

override_dh_auto_install:
	dh_auto_install
	install -m 644 man/fr/man1/manconv.1 $(dtmp)/usr/gnu/share/man/fr/man1/

override_dh_auto_clean:
	dh_auto_clean
	set -e; for preserve in man/po4a/po/*.pot man/po4a/po/*.po; do \
		[ -e "$$preserve.safe" ] || continue; \
		mv "$$preserve.safe" "$$preserve"; \
	done
	[ ! -e po/fr.gmo.safe ] || mv po/fr.gmo.safe po/fr.gmo
	rm -f man/fr/man1/manconv.1

override_dh_clean:
	dh_clean -Xxmalloc.c.orig

ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
override_dh_installman:
	PATH="$(CURDIR)/$(dtmp)/usr/gnu/bin:$$PATH" dh_installman
endif

ifeq ($(DEB_HOST_ARCH_OS),solaris)
override_dh_install:
	dh_install
	rm -f "$(CURDIR)/$(dtmp)/usr/lib/charset.alias"
endif


override_dh_fixperms:
	dh_fixperms
	chown man:root $(dtmp)/var/cache/man
	chmod 2755     $(dtmp)/var/cache/man
