#!/usr/bin/make -f

PYVERS=$(shell pyversions -vr debian/control)
PYDEF=$(shell pyversions -dv)

# Drop dpkg's LDFLAGS to prevent
# multiple 'unresolved reference' errors:
unexport LDFLAGS

%:
	dh $@ --with python2

override_dh_installman:
	dh_installman numpy/f2py/f2py.1
	# link manpage for versioned and dbg incarnations of f2py
	for v in $(PYVERS); do \
		dh_link /usr/share/man/man1/f2py.1.gz /usr/share/man/man1/f2py$$v.1.gz; \
		dh_link -ppython-numpy-dbg /usr/share/man/man1/f2py.1.gz /usr/share/man/man1/f2py$$v-dbg.1.gz; \
	done
	dh_link -ppython-numpy-dbg /usr/share/man/man1/f2py.1.gz /usr/share/man/man1/f2py-dbg.1.gz;

override_dh_install:
	# add shebang information to f2py script
	for v in $(PYVERS); do \
		sed -i "1s,#!.*python[^ ]*\(.*\),#!/usr/bin/python$$v," debian/tmp/usr/bin/f2py$$v; \
		cp -a debian/tmp/usr/bin/f2py$$v debian/tmp/usr/bin/f2py$$v-dbg ; \
		sed -i "1s,#!.*python[^ ]*\(.*\),#!/usr/bin/python$$v-dbg," debian/tmp/usr/bin/f2py$$v-dbg; \
	done

	# install unversioned f2py script
	dh_link usr/bin/f2py$(PYDEF) usr/bin/f2py
	dh_link -ppython-numpy-dbg usr/bin/f2py$(PYDEF)-dbg usr/bin/f2py-dbg

	# share -dbg and normal package doc dirs
	rm -rf debian/python-numpy-dbg/usr/share/doc/python-numpy-dbg
	dh_link usr/share/doc/python-numpy usr/share/doc/python-numpy-dbg
	
	# This will remove files from debian/tmp:
	dh_movefiles -p python-numpy-dbg
	dh_movefiles --remaining-packages
	# for other files (debian/*)
	dh_install
