Source: libalgorithm-diff-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7.0.50)
Build-Depends-Indep: perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>, Jonathan Yu <jawnsy@cpan.org>,
 Salvatore Bonaccorso <salvatore.bonaccorso@gmail.com>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/Algorithm-Diff/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libalgorithm-diff-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libalgorithm-diff-perl/
Upstream-Version: 1.19.02-2

Package: libalgorithm-diff-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Recommends: libalgorithm-diff-xs-perl
Description: module to find differences between files
 Algorithm::Diff is a Perl module that allows users to analyze text based on a
 Longest Common Subsequence (LCS) algorithm. It can compare two files and find
 the differences between them, which can produce the same information as the
 common Unix tool 'diff'.
 .
 There is an XS-optimized implementation of the core loop, which accelerates
 some types of diff output (see libalgorithm-diff-xs-perl).
