Source: nexenta-ldconfig
Section: base
Priority: required
Maintainer: Nexenta Systems <maintainer@nexenta.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: nexenta-ldconfig
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains nexenta specific hacks ,ldconfig

Package: sysvinit
XBS-Virtual: sysvinit
Architecture: all
Priority: required
Depends: sunwcs
Description: Debian SysV init compatibility scripts
 This package provides Debian SysV init compatibility scripts such as
 pidof, runlevel and others

Package: sysv-rc
XBS-Virtual: sysv-rc
Architecture: all
Priority: required
Depends: sunwcs
Description: Debian SysV-RC compatibility scripts
 This package provides Debian SysV-RC compatibility scripts such as
 update-rc.d, invoke-rc.d and others

Package: net-tools
XBS-Virtual: net-tools
Architecture: all
Priority: required
Depends: sunwcs
Description: Networking tools and Debian compatibility scripts
 This package provides Solaris Networking tools and Debian compatibility
 scripts. This package includes such utilities as ifconfig, netstat, etc

Package: netbase
XBS-Virtual: netbase
Architecture: all
Priority: important
Depends: sunwcs
Conflicts: netbase-compat
Replaces: netbase-compat
Description: Basic TCP/IP networking system
 This package provides the necessary infrastructure for basic TCP/IP based
 networking in addition to Sun networking. It integrates inetadm SMF
 functionality into Debian environment

Package: update-inetd
XBS-Virtual: update-inetd
Architecture: all
Depends: netbase
Description: Automatically updates /etc/inetd.conf
 This package provides the necessary infrastructure for basic TCP/IP based
 networking in addition to Sun networking. It integrates inetadm SMF
 functionality into Debian environment.

Package: passwd
XBS-Virtual: passwd
Architecture: all
Depends: sunwcs
Description: Change and administer password
 This package includes chpasswd utility
