#!/usr/bin/make -f
# debian/rules for alien

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


#PACKAGE=$(shell dh_listpackages)
PACKAGE=nexenta-ldconfig
#MAKE=/usr/bin/make
CURDIR=$(shell pwd)


build:
	dh_testdir
	dh_testroot
	cd utils && $(MAKE)

install: build
	dh_testdir
	dh_testroot
	mkdir -p debian/tmp/sbin debian/tmp/usr/bin debian/tmp/usr/sbin \
		debian/tmp/etc/init.d \
		debian/tmp/usr/share/perl5 debian/tmp/etc/default
	install -o root -g bin -m 0755 utils/runlevel debian/tmp/sbin
	install -o root -g bin -m 0755 utils/mountpoint debian/tmp/usr/bin
	install -o root -g bin -m 0755 ldconfig debian/tmp/usr/bin
	install -o root -g bin -m 0755 chpasswd debian/tmp/usr/sbin
	install -o root -g bin -m 0755 gpasswd debian/tmp/usr/sbin
	install -o root -g root -m 0644 login.defs debian/tmp/etc
	cd debian/tmp/sbin && ln -sf ../usr/bin/ldconfig ldconfig
	install -o root -g bin -m 0755 sysidconfig debian/tmp/usr/sbin
	install -o root -g bin -m 0755 pidof debian/tmp/usr/bin
	install -o root -g bin -m 0755 update-rc.d debian/tmp/usr/sbin/
	install -o root -g bin -m 0755 invoke-rc.d debian/tmp/usr/sbin/
	install -o root -g bin -m 0755 rcS debian/tmp/etc/init.d
	cd debian/tmp/etc/default && ln -fs ../init.d/rcS rcS
	install -o root -g root -m 0644 netbase/DebianNet.pm debian/tmp/usr/share/perl5
	install -o root -g root -m 0755 netbase/update-inetd debian/tmp/usr/sbin

clean:
	dh_testdir
	dh_testroot
	dh_clean -d
	rm -rf debian/tmp
	rm -rf debian/sysv-rc
	rm -rf debian/sysvinit
	rm -f debian/preinst debian/*substvars debian/files
	cd utils; $(MAKE) clean || true


binary-indep: build

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_installdocs
	dh_installchangelogs
	dh_install --sourcedir=debian/tmp
	dh_installman -pnetbase netbase/DebianNet.3pm netbase/update-inetd.8
#	dh_sunstrip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	-dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
