Source: genshi
Upstream-Version: 0.6
Section: python
Priority: optional
Maintainer: Arnaud Fontaine <arnau@debian.org>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper,
               python-all-dev,
               python-support,
               python-setuptools
Standards-Version: 3.8.4
Homepage: http://genshi.edgewall.org/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/genshi/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/genshi/trunk/

Package: python-genshi
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}
Suggests: python-pkg-resources
Description: Python XML-based template engine
 Genshi  is  a Python  library  that  provides  an integrated  set  of
 components  for  parsing,  generating,  and processing  HTML  or  XML
 content  in  a uniform  manner.   The  major  feature is  a  template
 language, which is heavily inspired by Kid.
