#!/usr/bin/make -f

# error "Compiler or options invalid for pre-UNIX 03 X/Open applications
# and pre-2001 POSIX applications" 
CFLAGS += -D_XPG6

override_dh_auto_configure:
	dh_auto_configure -- \
		CFLAGS="$(CFLAGS)"

%:
	dh $@

