Source: libfile-slurp-perl
Section: perl
Priority: optional
Maintainer: Alexander Zangerl <az@debian.org>
Build-Depends: debhelper (>= 4.0.2), dpatch
Build-Depends-Indep: perl, libtest-pod-coverage-perl, libtest-pod-perl
Standards-Version: 3.8.3
Upstream-Version: 9999.13-1

Package: libfile-slurp-perl
Architecture: all
Depends: ${perl:Depends}
Homepage: http://search.cpan.org/~uri/
Description: single call read & write file routines
 This module consists of some quickie routines that read from,
 append to or overwrite a file with a single subroutine call. Their main
 intention is to save a couple of lines of code over and over again,
 but they do not do anything fancy.


