Source: debhelper
Section: devel
Priority: optional
Maintainer: Joey Hess <joeyh@debian.org>
Build-Depends: po4a, man-db | text-doctools, file, perl-base
Build-Conflicts: developer-object-file
Standards-Version: 3.9.2
Upstream-Version: 8.1.6
Homepage: http://kitenet.net/~joey/code/debhelper/

Package: debhelper
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, perl-base, file, dpkg-dev, html2text, binutils, po-debconf, man-db | text-doctools,
# for dh_installsvc:
 libxml-simple-perl,
# for dh_obfuscate:
 libpar-packer-perl, libfile-mimeinfo-perl, perl-compiler-kit
Suggests: python-manifold
Description: helper programs for debian/rules
 A collection of programs that can be used in a debian/rules file to
 automate common tasks related to building debian packages. Programs
 are included to install various files into your package, compress 
 files, fix file permissions, integrate your package with the debian 
 menu system, debconf, doc-base, etc. Most debian packages use debhelper
 as part of their build process.
