Source: vim-addon-manager
Upstream-Version: 0.4.3
Section: editors
Priority: extra
Maintainer: Debian Vim Maintainers <pkg-vim-maintainers@lists.alioth.debian.org>
Uploaders: James Vega <jamessan@debian.org>
Build-Depends: debhelper
Standards-Version: 3.8.2
Vcs-Git: git://git.debian.org/git/pkg-vim/vim-addon-manager.git
Vcs-Browser: http://git.debian.org/?p=pkg-vim/vim-addon-manager.git

Package: vim-addon-manager
Architecture: all
Depends: ruby, ${misc:Depends}
Recommends: vim
Description: manager of addons for the Vim editor
 vim-addon-manager is a tool for managing addons for the Vim
 editor.
 .
 Using the vim-addons command line the user can list the addons
 installed on its system (i.e. which are registered in the vim
 addons registry) and install or uninstall each of them in its
 per-user configuration directory (~/.vim).  Similar actions can
 be performed by the system administrator to affect all system
 users.
 .
 Override of addons which are enabled per default on the system,
 so that they are not enabled for the current user, is possible
 too.

