Source: libtest-warn-perl
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Jay Bonci <jaybonci@debian.org>,
 gregor herrmann <gregoa@debian.org>,  Damyan Ivanov <dmn@debian.org>
Build-Depends: debhelper (>= 7.0.8), quilt (>= 0.46-7)
Build-Depends-Indep: perl, libsub-uplevel-perl (>= 0.12),
 libtest-simple-perl, libtree-dagnode-perl, libtest-pod-perl
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Test-Warn/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libtest-warn-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libtest-warn-perl/
Upstream-Version: 0.22-1

Package: libtest-warn-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libsub-uplevel-perl (>= 0.12),
 libtest-simple-perl, libtree-dagnode-perl
Description: Test for warning-based code in perl
 Test::Warn provides an easy way to test for code throwing warnings in perl.
 It's similar in style to the Test::More family of utilities. 
