Source: file
Section: utils
Priority: standard
Maintainer: Daniel Baumann <daniel@lists.debian-maintainers.org>
Uploaders:
 Daniel Baumann <daniel@debian.org>, Judit Foglszinger <fgrfgr@freenet.de>
Build-Depends:
 debhelper (>= 7.4.3~), autotools-dev, python, python-all-dev, python-all-dbg,
 python-support, quilt (>= 0.46-7), zlib1g-dev
Standards-Version: 3.9.0
Homepage: http://www.darwinsys.com/file/
Vcs-Browser: http://git.debian-maintainers.org/?p=daniel/file.git
Vcs-Git: git://git.debian-maintainers.org/git/daniel/file.git
XS-Python-Version: all

Package: file
Section: utils
Priority: standard
Architecture: any
Depends: libgcc1, libmagic1 (= 5.04-5nexenta1), system-library, zlib1g (>= 1:1.2.3.3.dfsg-1)
Description: Determines file type using "magic" numbers
 File tests each argument in an attempt to classify it. There are three sets of
 tests, performed in this order: filesystem tests, magic number tests, and
 language tests. The first test that succeeds causes the file type to be
 printed.

Package: libmagic1
Section: libs
Priority: standard
Architecture: any
Depends: libgcc1, system-library, zlib1g (>= 1:1.2.3.3.dfsg-1)
Conflicts: file (<< 5.04-2)
Suggests: file
Description: File type determination library using "magic" numbers
 This library can be used to classify files according to magic number tests. It
 implements the core functionality of the file command.

Package: libmagic-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: ${misc:Depends}, libmagic1 (= ${binary:Version})
Suggests: file
Description: File type determination library using "magic" numbers (development)
 This library can be used to classify files according to magic number tests. It
 implements the core functionality of the file command.
 .
 This package contains the development files.

Package: python-magic
Section: python
Priority: extra
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Provides: ${python:Provides}
Suggests: python-magic-dbg
XB-Python-Version: ${python:Versions}
Description: File type determination library using "magic" numbers (Python bindings)
 This library can be used to classify files according to magic number tests. It
 implements the core functionality of the file command.
 .
 This package contains the Python bindings.

Package: python-magic-dbg
Section: debug
Priority: extra
Architecture: any
Depends:
 ${misc:Depends}, ${shlibs:Depends}, python-magic (= ${binary:Version}),
 python-dbg
Description: File type determination library using "magic" numbers (Python bindings/debug)
 This library can be used to classify files according to magic number tests. It
 implements the core functionality of the file command.
 .
 This package contains the Python bindings, built for the Python debug
 interpreter.
