#!/usr/bin/make -f

%:
	dh $@

# We need GNU Curses
_CFLAGS += -I/usr/gnu/include
_LDFLAGS += -L/usr/gnu/lib -R/usr/gnu/lib

override_dh_auto_configure:
	dh_auto_configure -- \
	--without-x \
    CFLAGS="$(_CFLAGS) $(CFLAGS)" \
    LDFLAGS="$(_LDFLAGS) $(LDFLAGS)" \


override_dh_auto_build:
	dh_auto_build
	$(MAKE) -C runtime/doc html
	$(MAKE) -C src/po vim.pot

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) -C runtime/doc clean
	$(MAKE) -C src/po clean
