#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs docs/CHANGE_LOG

override_dh_auto_clean:
	dh_auto_clean
	find -name '*.pyo' -exec rm -f {} \;

override_dh_auto_install:
	dh_auto_install
	mv debian/python-markdown/usr/bin/markdown debian/python-markdown/usr/bin/markdown_py

.PHONY: override_dh_auto_clean override_dh_installchangelogs override_dh_auto_install
