#!/usr/bin/make -f
# debian/rules file - for Gawk (3.1.5)
# Based on sample debian/rules file - for GNU Hello (1.3).
# Copyright 1994,1995 by Ian Jackson.
# Copyright 1998-2006 James Troup
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified

DEB_BUILD_GNU_TYPE	:= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE	:= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

STRIP=strip --remove-section=.comment --remove-section=.note
PWD=`pwd`
pkg = gawk
version = 3.1.6
install_dir=install -d -m 755
install_file=install -m 644
install_script=install -m 755
install_binary=install -m 755 -s

include /usr/share/dpatch/dpatch.make

build: patch-stamp
	$(checkdir)
	touch --date="Jan 01 2000" doc/gawk.info doc/gawk.texi \
               doc/gawkinet.info doc/gawkinet.texi
ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
	CFLAGS="-g -O2 -Wall" ./configure --prefix=/usr --libexecdir=/usr/lib
else
	CFLAGS="-g -O2 -Wall" ./configure --prefix=/usr --libexecdir=/usr/lib \
	--host=$(DEB_HOST_GNU_TYPE)
endif
	make
ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
	make check
endif
	touch build

clean: unpatch
	$(checkdir)
	rm -f build awkgram.c
	-$(MAKE) distclean || $(MAKE) -f Makefile.in distclean
	find . -name \*~ | xargs rm -vf
	-rm -rf debian/patched debian/tmp debian/files* debian/substvars config.log config.cache stamp-h .deps

binary-indep:  

binary-arch: checkroot build
	$(checkdir)
	rm -rf debian/tmp
	$(install_dir) debian/tmp/DEBIAN/
	$(install_dir) debian/tmp/usr/share/doc/$(pkg)/examples/
	$(install_script) debian/prerm debian/postinst debian/tmp/DEBIAN
#	make install DESTDIR=$(PWD)/debian
	make install datadir=$(PWD)/debian/tmp/usr/share \
		libexecdir=$(PWD)/debian/tmp/usr/lib \
		prefix=$(PWD)/debian/tmp/usr \
		exec_prefix=$(PWD)/debian/tmp/usr
	$(STRIP) debian/tmp/usr/bin/gawk debian/tmp/usr/bin/pgawk debian/tmp/usr/lib/awk/grcat debian/tmp/usr/lib/awk/pwcat
	for awk in gawk pgawk; do \
	  rm debian/tmp/usr/bin/$$awk; \
          mv debian/tmp/usr/bin/$$awk-$(version) debian/tmp/usr/bin/$$awk; \
	done
	rm -f debian/tmp/usr/bin/awk
	rm -f debian/tmp/usr/share/man/man1/pgawk.1
	gzip -9 debian/tmp/usr/share/man/man1/*
	ln -s gawk.1.gz debian/tmp/usr/share/man/man1/pgawk.1.gz 
	$(install_file) debian/copyright debian/tmp/usr/share/doc/$(pkg)
	$(install_file) ChangeLog debian/tmp/usr/share/doc/$(pkg)/changelog
	$(install_file) debian/changelog debian/tmp/usr/share/doc/$(pkg)/changelog.Debian
	$(install_file) FUTURES POSIX.STD NEWS README \
			AUTHORS LIMITATIONS PROBLEMS debian/tmp/usr/share/doc/$(pkg)
	$(install_script) awklib/igawk debian/tmp/usr/bin
	cp -a awklib/eg/* debian/tmp/usr/share/doc/$(pkg)/examples/
	# igawk is already in /usr/bin/
	rm -f debian/tmp/usr/share/doc/$(pkg)/examples/prog/igawk.sh
	# examples/lib/ is /usr/share/awk/ + some cruft, get rid of it
	rm -fr debian/tmp/usr/share/doc/$(pkg)/examples/lib/ 
	: # *sigh*, bugs.debian.org/213524
	rm -f debian/tmp/usr/share/info/* # dir*
	find debian/tmp/usr/share/doc/$(pkg)/ -maxdepth 1 -type f ! -name copyright | xargs gzip -9
	dpkg-shlibdeps debian/tmp/usr/bin/gawk; dpkg-gencontrol -isp
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

define checkdir
	test -f awk.h -a -f debian/rules
endef

# Below here is fairly generic really

binary: 	binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot patch unpatch
