Source: libtest-kwalitee-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl, libmodule-cpants-analyse-perl (>= 0.82),
 libtest-pod-perl, libtest-pod-coverage-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Peter Pentchev <roam@ringlet.net>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Test-Kwalitee/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libtest-kwalitee-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libtest-kwalitee-perl/
Upstream-Version: 1.01-1


Package: libtest-kwalitee-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends},
  libmodule-cpants-analyse-perl (>= 0.82)
Description: Test the quality of your distribution, automatically!
 Kwalitee is an automatically-measurable gauge of how good your software is.
 That's very different from quality, which a computer really can't measure in
 a general sense. (If you can, you've solved a hard problem in computer
 science.)
 .
 In the world of the CPAN, the CPANTS project (CPAN Testing Service; also a
 funny acronym on its own) measures Kwalitee with several metrics. If you plan
 to release a distribution to the CPAN -- or even within your own organization
 -- testing its Kwalitee before creating a release can help you improve your
 quality as well.
