Source: ncurses
Section: libs
Priority: required
Maintainer: Craig Small <csmall@debian.org>
Uploaders: Sven Joachim <svenjoac@gmx.de>
Build-Depends: debhelper (>= 7),
               g++-multilib [amd64 i386 kfreebsd-amd64 powerpc ppc64 s390 sparc],
               libgpm-dev [!hurd-i386 !kfreebsd-amd64 !kfreebsd-i386],
               quilt (>= 0.40)
Standards-Version: 3.8.4
Vcs-Browser: http://git.debian.org/?p=collab-maint/ncurses.git
Vcs-Git: git://git.debian.org/collab-maint/ncurses.git
Homepage: http://invisible-island.net/ncurses/

Package: libncurses5
Architecture: any
Priority: required
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libgpm2 [!hurd-i386 !kfreebsd-amd64 !kfreebsd-i386]
Description: shared libraries for terminal handling
 This package contains the shared libraries necessary to run programs
 compiled with ncurses.

Package: libncurses5-dev
Architecture: any
Section: libdevel
Priority: optional
Depends: libncurses5 (= ${binary:Version}), ncurses-bin (= ${binary:Version}),
	 libc-dev, ${misc:Depends}
Conflicts: ncurses-dev, libncurses-dev
Replaces: ncurses-dev, libncurses-dev
Provides: libncurses-dev, ncurses-dev
Description: developer's libraries and docs for ncurses
 This package contains the header files, static libraries
 and symbolic links that developers using ncurses will need.
 It also includes the libraries' man pages and other documentation.

#Package: libncurses5-dbg
#Architecture: any
#Section: debug
#Priority: extra
#Depends: ${shlibs:Depends}, libncurses5-dev (= ${binary:Version}), ${misc:Depends}
#Description: debugging/profiling libraries for ncurses
# This package contains the debugging libraries for ncurses.

#Package: libncursesw5
#Architecture: any
#Priority: important
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Recommends: libgpm2 [!hurd-i386 !kfreebsd-amd64 !kfreebsd-i386]
#Description: shared libraries for terminal handling (wide character support)
# This package contains the shared libraries necessary to run programs
# compiled with ncursesw, which includes support for wide characters.

#Package: libncursesw5-dev
#Architecture: any
#Section: libdevel
#Priority: optional
#Depends: libncursesw5 (= ${binary:Version}), ncurses-bin (= ${binary:Version}),
#	 libc-dev, ${misc:Depends}
#Suggests: libncurses5-dev
#Description: developer's libraries for ncursesw
# This package contains the header files, static libraries
# and symbolic links that developers using ncursesw will need.
# .
# This package includes support for wide characters.

#Package: libncursesw5-dbg
#Architecture: any
#Section: debug
#Priority: extra
#Depends: ${shlibs:Depends}, libncursesw5-dev (= ${binary:Version}), ${misc:Depends}
#Description: debugging/profiling libraries for ncurses
# This package contains the debugging libraries for ncursesw.
# .
# This package includes support for wide characters.

Package: lib64ncurses5
Architecture: i386 powerpc sparc s390 solaris-i386
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: amd64-libs (<= 1.2)
Description: shared libraries for terminal handling (64-bit)
 This package contains the shared libraries necessary to run programs
 compiled with ncurses.
 .
 This package supports the 64-bit ABI variant of your system's
 architecure.

Package: lib64ncurses5-dev
Architecture: i386 powerpc sparc s390 solaris-i386
Section: libdevel
Priority: optional
Depends: lib64ncurses5 (= ${binary:Version}), libncurses5-dev, lib64c-dev|system-library, ${misc:Depends}
Replaces: amd64-libs-dev (<= 1.2)
Description: developer's libraries for ncurses (64-bit)
 This package contains the header files, static libraries
 and symbolic links that developers using ncurses will need.
 .
 This package supports the 64-bit ABI variant of your system's
 architecure.

Package: lib32ncurses5
Architecture: amd64 ppc64
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libc6-i386 (<= 2.9-18)
Replaces: ia32-libs (<< 1.10)
Description: shared libraries for terminal handling (32-bit)
 This package contains the shared libraries necessary to run programs
 compiled with ncurses.
 .
 This package supports the 32-bit ABI variant of your system's
 architecure.

Package: lib32ncurses5-dev
Architecture: amd64 ppc64
Section: libdevel
Priority: optional
Depends: lib32ncurses5 (= ${binary:Version}), libncurses5-dev, lib32c-dev, ${misc:Depends}
Conflicts: libc6-i386 (<= 2.9-18)
Description: developer's libraries for ncurses (32-bit)
 This package contains the header files, static libraries
 and symbolic links that developers using ncurses will need.
 .
 This package supports the 32-bit ABI variant of your system's
 architecure.

Package: lib32ncursesw5
Architecture: amd64 ppc64
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libc6-i386 (<= 2.9-18)
Description: shared libraries for terminal handling (wide character support) (32-bit)
 This package contains the shared libraries necessary to run programs
 compiled with ncursesw, which includes support for wide characters.
 .
 This package supports the 32-bit ABI variant of your system's
 architecure.

Package: lib32ncursesw5-dev
Architecture: amd64 ppc64
Section: libdevel
Priority: optional
Depends: lib32ncursesw5 (= ${binary:Version}), libncursesw5-dev, lib32c-dev, ${misc:Depends}
Conflicts: libc6-i386 (<= 2.9-18)
Suggests: lib32ncurses5-dev
Description: developer's libraries for ncursesw (32-bit)
 This package contains the header files, static libraries
 and symbolic links that developers using ncursesw will need.
 .
 This package includes support for wide characters.
 This package supports the 32-bit ABI variant of your system's
 architecure.

Package: ncurses-bin
Architecture: any
Section: utils
Priority: required
Essential: yes
Pre-Depends: ${shlibs:Depends}, ${misc:Depends}
Description: terminal-related programs and man pages
 This package contains the programs used for manipulating the terminfo
 database and individual terminfo entries, as well as some programs for
 resetting terminals and such.

Package: ncurses-base
Architecture: all
Section: utils
Priority: required
Essential: yes
Depends: ${misc:Depends}
Conflicts: ncurses, ncurses-runtime
Provides: ncurses-runtime
Breaks: ncurses-term (<< 5.7+20100313-3)
Description: basic terminal type definitions
 This package contains terminfo data files to support the most common types of
 terminal, including ansi, dumb, linux, rxvt, screen, sun, vt100, vt102, vt220,
 vt52, and xterm.

Package: ncurses-term
Architecture: all
Section: admin
Priority: standard
Depends: ${misc:Depends}
Replaces: ncurses-base (<< 5.7+20100313-1)
Description: additional terminal type definitions
 This package contains all of the numerous terminal definitions not found in
 the ncurses-base package.
