#!/usr/bin/make -f

CC=gcc
DEB_BUILDDIR = debian/build
DEB_MAKE_FLAVORS = deb64 deb32
DISABLE_UPDATE_UPLOADERS := 1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

#DEB_CONFIGURE_EXTRA_FLAGS = --enable-ld-version-script --enable-static
#DEB_MAKE_CHECK_TARGET = check
DEB_DH_MAKESHLIBS_ARGS_ALL := -V "libksba8 (>= 1.0.6)"

CFLAGS += -Wall

DEB_MAKE_DESTDIRSKEL = $(CURDIR)/debian/install/@FLAVOR@

DEB_CONFIGURE_FLAGS_deb64 := \
	CC="gcc -m64"

clean::
	rm -rf debian/build
	rm -rf debian/install
	rm -rf debian/stamp-*
