Source: lzma
Section: utils
Priority: optional
Maintainer: Mohammed Adnène Trojette <adn+deb@diwi.org>
Uploaders: Arnaud Fontaine <arnau@debian.org>
Build-Depends: debhelper (>= 5.0.0), quilt, zlib1g-dev
Homepage: http://www.7-zip.org/sdk.htm
Vcs-Git: git://git.debian.org/git/collab-maint/lzma.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/lzma.git;a=summary
Standards-Version: 3.8.0

Package: lzma
Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
Depends: libgcc1, libstdc++6 (>= 4.2.1), sunwcs, system-library, ${misc:Depends}
Description: Compression method of 7z format in 7-Zip program
 LZMA is a compression algorithm, based on the famous Lempel Ziv
 compression method.
 .
 The main characteristics of the algorithm are very good compression,
 fast decompression, use of lot of RAM for compression and low usage of
 RAM for decompression.
 .
 LZMA provides high compression ratio and very fast decompression, so it
 is very suitable for embedded applications. For example, it can be used
 for ROM (firmware) compression.
 .
 This package provides a gzip-like interface for the lzma program.

Package: lzma-dev
Architecture: any
Depends: zlib1g-dev
Description: Compression method of 7z format in 7-Zip program - development files
 LZMA is a compression algorithm, based on the famous Lempel Ziv
 compression method.
 .
 The main characteristics of the algorithm are very good compression,
 fast decompression, use of lot of RAM for compression and low usage of
 RAM for decompression.
 .
 LZMA provides high compression ratio and very fast decompression, so it
 is very suitable for embedded applications. For example, it can be used
 for ROM (firmware) compression.
 .
 This package contains the headers and libraries of lzma. It is
 experimental and will be replaced by the library as soon as it is
 available.
 
Package: lzma-source
Architecture: all
Depends: module-assistant, debhelper (>> 4.0.0), bzip2, make, lzma-dev
Description: Source for the lzma kernel module
 LZMA is a compression algorithm, based on the famous Lempel Ziv
 compression method.
 .
 The main characteristics of the algorithm are very good compression,
 fast decompression, use of lot of RAM for compression and low usage of
 RAM for decompression.
 .
 LZMA provides high compression ratio and very fast decompression, so it
 is very suitable for embedded applications. For example, it can be used
 for ROM (firmware) compression.
 .
 This package provides the source code for the lzma kernel modules.
 Kernel source and headers are required to compile these modules.

Package: lzma-alone
Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
Depends: libgcc1, libstdc++6 (>= 4.2.1), sunwcs, system-library, ${misc:Depends}
Conflicts: lzma (<< 4.43-13)
Replaces: lzma (<< 4.43-13)
Description: Compression method of 7z format in 7-Zip program
 LZMA is a compression algorithm, based on the famous Lempel Ziv
 compression method.
 .
 The main characteristics of the algorithm are very good compression,
 fast decompression, use of lot of RAM for compression and low usage of
 RAM for decompression.
 .
 LZMA provides high compression ratio and very fast decompression, so it
 is very suitable for embedded applications. For example, it can be used
 for ROM (firmware) compression.
 .
 This package provides the SDK based lzma_alone program.

