Source: libarchive-any-perl
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Ernesto Hernández-Novich (USB) <emhn@usb.ve>
Homepage: http://search.cpan.org/dist/Archive-Any/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libarchive-any-perl/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-perl/trunk/libarchive-any-perl/
Build-Depends: debhelper (>= 6), libmodule-build-perl
Build-Depends-Indep: perl,
 perl-modules (>= 5.10),
 libarchive-zip-perl (>= 1.07),
 libmodule-find-perl (>= 0.05),
 libfile-mmagic-perl (>= 1.27),
 libmime-types-perl (>= 1.16),
 libtest-warn-perl,
 libtest-pod-perl, libtest-pod-coverage-perl
Standards-Version: 3.8.0
Upstream-Version: 0.0932-1

Package: libarchive-any-perl
Architecture: all
Depends: ${perl:Depends},
 perl-modules (>= 5.10),
 libarchive-zip-perl (>= 1.07),
 libmodule-find-perl (>= 0.05),
 libfile-mmagic-perl (>= 1.27),
 libmime-types-perl (>= 1.16)
Description: Perl module to deal with file archives in any format
 The Archive::Any module allows a Perl program to create, manipulate,
 read, and write different archive formats (tarballs and Zip files)
 through a single API.
