Source: expat
Section: text
Priority: optional
Maintainer: Debian XML/SGML Group <debian-xml-sgml-pkgs@lists.alioth.debian.org>
Uploaders: Ardo van Rangelrooij <ardo@debian.org>,
 Daniel Leidert (dale) <daniel.leidert@wgdd.de>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 5.0.22), dpatch, docbook-to-man,
 gcc-multilib [i386 powerpc sparc s390]
Homepage: http://expat.sourceforge.net
Vcs-Browser: http://svn.debian.org/wsvn/debian-xml-sgml/packages/expat/trunk/
Vcs-Svn: svn://svn.debian.org/svn/debian-xml-sgml/packages/expat/trunk/
DM-Upload-Allowed: yes

Package: lib64expat1-dev
Section: libdevel
Architecture: i386 powerpc sparc s390 solaris-i386
Depends: ${misc:Depends}, lib64expat1 (= ${binary:Version}), libexpat1-dev, gcc-multilib
Description: XML parsing C library - development kit (64bit)
 This package contains the header file and development libraries of
 expat, the C library for parsing XML.  Expat is a stream oriented XML
 parser.  This means that you register handlers with the parser prior
 to starting the parse.  These handlers are called when the parser
 discovers the associated structures in the document being parsed.  A
 start tag is an example of the kind of structures for which you may
 register handlers.
 .
 This package includes the development support files for building 64 bit
 applications.

Package: lib64expat1
Section: libs
Architecture: i386 powerpc sparc s390 solaris-i386
Depends: ${misc:Depends}, system-library, sunwcs
Description: XML parsing C library - runtime library (64bit)
 This package contains the runtime, shared library of expat, the C
 library for parsing XML. Expat is a stream-oriented parser in
 which an application registers handlers for things the parser
 might find in the XML document (like start tags).
 .
 This package includes the 64 bit version of the shared library.

Package: libexpat1-dev
Section: libdevel
Architecture: any
Provides: libexpat-dev
Conflicts: libexpat-dev
Depends: ${misc:Depends}, libexpat1 (= ${binary:Version})
Description: XML parsing C library - development kit
 This package contains the header file and development libraries of
 expat, the C library for parsing XML.  Expat is a stream oriented XML
 parser.  This means that you register handlers with the parser prior
 to starting the parse.  These handlers are called when the parser
 discovers the associated structures in the document being parsed.  A
 start tag is an example of the kind of structures for which you may
 register handlers.

Package: libexpat1
Section: libs
Architecture: any
Conflicts: wink (<= 1.5.1060-4)
Depends: ${misc:Depends}, system-library, sunwcs
Description: XML parsing C library - runtime library
 This package contains the runtime, shared library of expat, the C
 library for parsing XML. Expat is a stream-oriented parser in
 which an application registers handlers for things the parser
 might find in the XML document (like start tags).

#Package: libexpat1-udeb
#XC-Package-Type: udeb
#Section: debian-installer
#Priority: extra
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: XML parsing C library - runtime library
# This package contains the runtime, shared library of expat, the C
# library for parsing XML.

Package: expat
Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
Depends: ${misc:Depends}, libexpat1 (>= 1.95.8), libgcc1, sunwcs, system-library
Description: XML parsing C library - example application
 This package contains xmlwf, an example application of expat, the C
 library for parsing XML.  The arguments to xmlwf are one or more
 files which are each to be checked for XML well-formedness.
