Source: libdigest-sha1-perl
Upstream-Version: 2.13-1nexenta2
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Zak B. Elep <zakame@spunge.org>, Gunnar Wolf <gwolf@debian.org>,
 Ryan Niebur <ryan@debian.org>, Ansgar Burchardt <ansgar@43-1.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.0
Homepage: http://search.cpan.org/dist/Digest-SHA1/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libdigest-sha1-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libdigest-sha1-perl/

Package: libdigest-sha1-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: NIST SHA-1 message digest algorithm
 The Digest::SHA1 module allows you to use the NIST SHA-1 message
 digest algorithm from within Perl programs.  The algorithm takes as
 input a message of arbitrary length and produces as output a 160-bit
 "fingerprint" or "message digest" of the input.
