#!/usr/bin/make -f

CC = gcc
CXX = g++
SHELL = /bin/bash

CFLAGS  += -Wall -g -D_REENTRANT

MACH64 := amd64

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    CFLAGS += -O0
else
    CFLAGS += -O2
endif

DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

patch: patch-stamp
patch-stamp:
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2
	touch $@

unpatch:
	QUILT_PATCHES=debian/patches quilt pop -a -f || test $$? = 2
	rm -f patch-stamp

configure32: patch configure32-stamp
configure32-stamp:
	mkdir -p build32
	cd build32 && \
	CC="$(CC)" \
	CXX="$(CXX)" \
	CPPGLAGS="$(CPPGLAGS)" \
	MACH64=$(MACH64) \
	../configure --prefix=/usr \
	--with-noexec=/usr/lib/sudo_noexec.so \
	--with-project \
	--with-timedir=/var/run/sudo

#	--with-ldap=/usr \

#	LDFLAGS="$(LDFLAGS)" \
#	--with-libraries=ssl \

	touch $@

configure64: patch configure64-stamp
configure64-stamp:
	mkdir -p build64
	cd build64 && \
	CC="$(CC) -m64" \
	CXX="$(CXX) -m64" \
	CFLAGS="$(CFLAGS) -m64" \
	CXXFLAGS="-m64" \
	LDFLAGS="-m64" \
	../configure --prefix=/usr \
	--libdir=/usr/lib/amd64 \
	--build=x86_64-pc-solaris2.11

	touch $@


build: build32

build32: build32-stamp
build32-stamp: configure32
	MACH64=$(MACH64) $(MAKE) -C build32
	touch $@

build64: build64-stamp
build64-stamp: configure64
	cd build64 && \
	$(MAKE)
	touch $@

install: install-stamp
install-stamp: build
	dh_testdir
	dh_testroot
	dh_clean -k
	
	rm -rf debian/tmp
	dh_installdirs -a

	MACH64=$(MACH64) $(MAKE) -C build32 DESTDIR=$(CURDIR)/debian/tmp install
#	MACH64=$(MACH64) $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install

	touch $@

binary: binary-arch binary-indep
binary-indep:
binary-arch: install
	dh_testdir
	dh_testroot
	dh_install -a
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installman -a
	dh_link -a
	dh_compress -a
	dh_fixperms
	chown root.root debian/sudo/usr/bin/sudo
	chmod 4755 debian/sudo/usr/bin/sudo
	dh_makeshlibs
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a


clean: unpatch
	dh_testdir
	dh_testroot
	-MACH64=$(MACH64) make clean
	-MACH64=$(MACH64) make distclean
	rm -f *-stamp
	rm -rf build32 build64
	rm -rf debian/inst32 debian/inst64
	rm -rf .pc $(MACH64) debian/sudo
	dh_clean

.PHONY: binary binary-arch build patch unpatch clean
