Source: decoratortools
Upstream-Version: 1.8
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Daniele Tricoli <eriol@mornie.org>
Section: python
Priority: optional
Build-Depends: debhelper,
               python-all,
               python-nose,
               python-setuptools,
               python-support
Standards-Version: 3.9.2
Homepage: http://pypi.python.org/pypi/DecoratorTools/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/decoratortools/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/decoratortools/trunk/

Package: python-peak.util.decorators
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Provides: python-decoratortools
Description: version-agnostic decorators support for Python
 DecoratorTools provides decorator facilities for Python 2.3 and above. It
 provides class and function decorators as well as support for decorating
 arbitrary assignments, synchronized methods, and more.
 .
 DecoratorTools is part of the PEAK (Python Enterprise Architecture Kit)
 framework and provides the peak.util.decorators module.
