#!/usr/bin/make -f


BUILD = $(CURDIR)/build-tree

CC_32 = gcc -m32
CC_64 = gcc -m64
CXX_32 = g++ -m32
CXX_64 = g++ -m64

CFLAGS_32 =
CFLAGS_64 =

CONFIGURE_OPTIONS_COMMON =

CONFIGURE_OPTIONS_32 = \
	--libdir=\$${prefix}/lib

CONFIGURE_OPTIONS_64 = \
	--bindir=\$${prefix}/bin/amd64 \
	--libdir=\$${prefix}/lib/amd64

%:
	dh $@

override_dh_auto_configure: \
	configure32-stamp \
	configure64-stamp

override_dh_auto_build: \
	build32-stamp \
	build64-stamp

override_dh_auto_test: \
	test32-stamp \
	test64-stamp

override_dh_auto_install: \
	install32-stamp \
	install64-stamp

override_dh_auto_clean:
	rm -rf $(BUILD)

override_dh_compress:
	dh_compress -X /examples/

configure%-stamp:
	dh_auto_configure -B $(BUILD)/$* -- \
		$(CONFIGURE_OPTIONS_COMMON) \
		$(CONFIGURE_OPTIONS_$*) \
		CC="$(CC_$*)" \
		CXX="$(CXX_$*)" \
		CFLAGS="$(CFLAGS) $(CFLAGS_$*)"
	touch $@

build%-stamp: configure%-stamp
	$(MAKE) -C $(BUILD)/$*
	touch $@

test%-stamp: build%-stamp
	$(MAKE) -C $(BUILD)/$* check
	touch $@

install%-stamp: build%-stamp
	$(MAKE) -C $(BUILD)/$* \
		install \
		DESTDIR=$(CURDIR)/debian/tmp
	touch $@

