#!/usr/bin/make -f
#	Debian rules file for gzip, requires the debhelper package.
#	Crafted by Bdale Garbee, bdale@gag.com, 5 November 2000

# Comment this to turn off debhelper verbose mode.
export DH_VERBOSE=1

DEB_BUILD_GNU_TYPE = $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE = $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
CONFARGS = --host=$(DEB_HOST_GNU_TYPE)
endif

buildarch := $(shell dpkg-architecture -qDEB_BUILD_ARCH)
ifeq ($(buildarch),amd64)
CFLAGS=-g -O2 -Wall -DUNALIGNED_OK
else
CFLAGS=-g -O2 -Wall
endif

PF=usr

configure: configure-stamp
configure-stamp:
	dh_testdir
	mkdir -p build
	cd build && ../configure \
		--prefix=/${PF} --program-prefix=g \
		--infodir=`pwd`/debian/gzip/usr/share/info \
		--mandir=`pwd`/debian/gzip/usr/share/man $(CONFARGS)
	touch configure-stamp

#configure-win32: configure-win32-stamp
#configure-win32-stamp:
#	dh_testdir
#	mkdir -p build-win32
#	cd build-win32 && ../configure --host=i586-mingw32msvc
#	touch configure-win32-stamp

build: build-stamp 
build-stamp: configure-stamp
	dh_testdir
	$(MAKE) -C build
	touch build-stamp

#build-win32: build-win32-stamp
#build-win32-stamp: configure-win32-stamp
#	dh_testdir
#	$(MAKE) -C build-win32
#	touch build-win32-stamp

clean:
	dh_testdir
	dh_testroot
	-rm -f build-stamp build-win32-stamp configure-stamp configure-win32-stamp
	-rm -rf build build-win32
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) -C build install prefix=`pwd`/debian/gzip bindir=`pwd`/debian/gzip/${PF}/bin
#	rm -f $(CURDIR)/debian/gzip/usr/share/man/man1/uncompress.*
#	rm -f $(CURDIR)/debian/gzip/usr/share/man/man1/zfgrep.*
#	rm -f $(CURDIR)/debian/gzip/usr/share/man/man1/zegrep.*
#	rm -f $(CURDIR)/debian/gzip/share/man/man1/gunzip.*
	mv $(CURDIR)/debian/gzip/$(PF)/bin/ggunzip $(CURDIR)/debian/gzip/$(PF)/bin/gunzip
	mv $(CURDIR)/debian/gzip/$(PF)/bin/ggzexe $(CURDIR)/debian/gzip/$(PF)/bin/gzexe
	mv $(CURDIR)/debian/gzip/$(PF)/bin/ggzip $(CURDIR)/debian/gzip/$(PF)/bin/gzip

#install-win32: build-win32
#	dh_testdir
#	dh_testroot
#	dh_clean -k
#	dh_installdirs
#	i586-mingw32msvc-strip build-win32/gzip.exe
#	install -m 0755 build-win32/gzip.exe debian/gzip-win32/usr/share/win32/

#binary-indep:	build-win32 install-win32
#	dh_testdir -i
#	dh_testroot -i
#	dh_installdocs -i README* TODO
#	dh_installchangelogs -i ChangeLog
#	dh_lintian -i
#	dh_compress -i
#	dh_fixperms -i
#	dh_installdeb -i
#	dh_gencontrol -i
#	dh_md5sums -i
#	dh_builddeb -i

binary-arch:	build install
	dh_testdir -s
	dh_testroot -s
	dh_installdocs -s README* TODO
	dh_installman *.1
	rm -f debian/gzip/$(PF)/share/man/man1/zcat.*
	rm -f debian/gzip/$(PF)/share/man/man1/zcmp.*
	dh_installinfo -s doc/gzip.info
	dh_installchangelogs -s ChangeLog
	dh_link -s
	dh_lintian -s
	dh_strip -s
	dh_compress -s
#	ln -s gunzip.1.gz debian/gzip/usr/share/man/man1/uncompress.1.gz
#	ln -s zgrep.1.gz debian/gzip/usr/share/man/man1/zegrep.1.gz
#	ln -s zgrep.1.gz debian/gzip/usr/share/man/man1/zfgrep.1.gz
	dh_fixperms -s
	# You may want to make some executables suid here.
	dh_makeshlibs -s
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
#.PHONY: build-win32 install-win32 configure-win32
