Source: libmodule-extractuse-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), perl-modules (>= 5.10) | libmodule-build-perl
Build-Depends-Indep: libparse-recdescent-perl (>= 1.94),
  libpod-strip-perl (>= 1.00), libtest-deep-perl (>= 0.087),
  libtest-nowarnings-perl, libtest-pod-coverage-perl, libtest-pod-perl,
  libuniversal-require-perl, perl (>= 5.8)
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Peter Pentchev <roam@ringlet.net>,
 gregor herrmann <gregoa@debian.org>
Standards-Version: 3.8.1
Homepage: http://search.cpan.org/dist/Module-ExtractUse/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libmodule-extractuse-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libmodule-extractuse-perl/
Upstream-Version: 0.23-2

Package: libmodule-extractuse-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
  libparse-recdescent-perl (>= 1.94), libpod-strip-perl (>= 1.00),
  perl (>= 5.8)
Description: Perl module to find out modules used by the specified Perl source
 Module::ExtractUse is basically a Parse::RecDescent grammar to parse Perl
 code. It tries very hard to find all modules (whether pragmas, Core, or from
 CPAN) used by the parsed code.
 .
 "Usage" is defined by either calling use or require.
