#!/usr/bin/make -f

P=	libmodule-extractuse-perl
D=	$(CURDIR)/debian/$P

build: build-stamp
build-stamp:
	dh build
	touch $@

clean:
	[ -f Build ] || rm -f Makefile
	dh $@

install: install-stamp
install-stamp: build-stamp
	dh install --until dh_auto_install
	find $D -type f -name .packlist -delete
	find $D -type d -empty -delete
	dh install --remaining
	touch $@

binary-arch:

binary-indep: install
	dh $@

binary: binary-arch binary-indep

.PHONY: binary binary-arch binary-indep install clean build
