Source: python2.6
Upstream-Version: 2.6.7
Section: python
Priority: optional
Maintainer: Matthias Klose <doko@debian.org>
Build-Depends:
 autoconf,
 bzip2,
 debhelper,
 dh-autoreconf,
 libbz2-dev,
 libdb4.8-dev,
 libexpat1-dev,
 libffi-dev,
 libgdbm-dev,
 libncursesw5-dev,
 libreadline-dev,
 libsqlite3-dev,
 libssl-dev,
 mime-support,
 netbase,
 sharutils,
 zlib1g-dev,
Standards-Version: 3.9.2
Vcs-Browser: https://code.launchpad.net/~doko/python/pkg2.6-debian
Vcs-Bzr: http://bazaar.launchpad.net/~doko/python/pkg2.6-debian

Package: python2.6
Architecture: any
Priority: optional
Depends: python2.6-minimal (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Provides: python2.6-cjkcodecs, python2.6-ctypes, python2.6-elementtree, python2.6-celementtree, python2.6-wsgiref, python2.6-profiler
Description: An interactive high-level object-oriented language (version 2.6)
 Version 2.6 of the high-level, interactive object oriented language,
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.

Package: python2.6-minimal
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: python2.6
Description: A minimal subset of the Python language (version 2.6)
 This package contains the interpreter and some essential modules.  It can
 be used in the boot process for some basic tasks.
 See /usr/share/doc/python2.6-minimal/README.Debian for a list of the modules
 contained in this package.

Package: libpython2.6
Architecture: any
Section: libs
Priority: optional
Depends: python2.6 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Shared Python runtime library (version 2.6)
 Version 2.6 of the high-level, interactive object oriented language,
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.
 .
 This package contains the shared runtime library, normally not needed
 for programs using the statically linked interpreter.

Package: python2.6-dev
Architecture: any
Depends: python2.6 (= ${binary:Version}), libpython2.6 (= ${binary:Version}), libexpat1-dev, libssl-dev, ${shlibs:Depends}, ${misc:Depends}
Description: Header files and a static library for Python (v2.6)
 Header files, a static library and development tools for building
 Python (v2.6) modules, extending the Python interpreter or embedding
 Python (v2.6) in applications.
 .
 Maintainers of Python packages should read README.maintainers.

Package: python2.6-dbg
Section: debug
Architecture: any
Priority: extra
Depends: python2.6 (>= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Debug Build of the Python Interpreter (version 2.6)
 Python interpreter configured with --pydebug. Dynamically loaded modules are
 searched in /usr/lib/python2.6/lib-dynload/debug first.

Package: idle-python2.6
Architecture: all
Depends: python2.6, python-tk, python2.6-tk, ${misc:Depends}
Enhances: python2.6
Description: An IDE for Python (v2.6) using Tkinter
 IDLE is an Integrated Development Environment for Python (v2.6).
 IDLE is written using Tkinter and therefore quite platform-independent.

Package: python2.6-examples
Architecture: all
Depends: python2.6 (>= ${source:Version}), ${misc:Depends}
Description: Examples for the Python language (v2.6)
 Examples, Demos and Tools for Python (v2.6). These are files included in
 the upstream Python distribution (v2.6).

