Source: ntop
Section: contrib/net
Priority: optional
Maintainer: Ola Lundqvist <opal@debian.org>
Build-Depends: debhelper (>= 4.1.39), autoconf, automake, libgdbm-dev, libpng12-dev, libncurses5-dev, libtool, libgd2-noxpm-dev, libssl-dev, libjpeg62-dev, po-debconf, libpcap0.8-dev (>= 0.9.8)
Standards-Version: 3.7.2
Upstream-Version: 3:3.2-10.1nexenta1

Package: ntop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Suggests: graphviz
Description: display network usage in top-like format
 ntop is a Network Top program. It displays a summary of network usage by
 machines on your network in a format reminiscent of the unix top utility.
 .
 It can also be run in web mode, which allows the display to be browsed with
 a web browser.
