Source: kid
Upstream-Version: 0.9.6
Section: python
Priority: optional
Maintainer: Ross Burton <ross@debian.org>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper, python-all, python-support
Build-Depends-Indep: python-setuptools
Vcs-Svn: svn://svn.debian.org/python-modules/packages/kid/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/kid/trunk/
Standards-Version: 3.8.3
Homepage: http://www.kid-templating.org

Package: python-kid
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-pkg-resources
Description: simple Pythonic template language for XML based vocabularies
 Kid is a simple Pythonic template language for XML based vocabularies. It was
 spawned as a result of a kinky love triangle between XSLT, TAL, and PHP. We
 believe many of the best features of these languages live on in Kid with much
 of the limitations and complexity stamped out.
