Source: libuniversal-require-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl (>= 5.6.0)
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: AGOSTINI Yves <agostini@univ-metz.fr>,
 gregor herrmann <gregoa@debian.org>
Standards-Version: 3.8.1
Homepage: http://search.cpan.org/dist/UNIVERSAL-Require/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libuniversal-require-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libuniversal-require-perl/
Upstream-Version: 0.13-1

Package: libuniversal-require-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Replaces: libuniversal-exports-perl
Description: Load modules from a variable
 This works exactly like the standard require in Perl, except without
 the bareword restriction, and it does not die.  Since require() is
 placed in the UNIVERSAL namespace, it will work on any module.  You
 just have to use UNIVERSAL::require somewhere in your code.
 .
 If you have ever had to do this...
 .
    eval "require $module";
 .
 to get around the bareword caveats on require(), this module is for
 you. It creates a universal require() class method that will work
 with every Perl module and it is secure. So instead of doing some
 arcane eval() work, you can do this:
 .
    $module->require;
 .
 It does not save you much typing, but it will make a lot more sense
 to someone who is not a ninth level Perl acolyte.
 .
 Also provided is a use() method which works in a similar way.

