#!/usr/bin/make -f

BUILD = build-tree

CC_32 = gcc -m32
CC_64 = gcc -m64

CXX_32 = g++ -m32
CXX_64 = g++ -m64

CFLAGS_32 =
CFLAGS_64 =

LDFLAGS_32 = -L/usr/lib -R/usr/lib
LDFLAGS_64 = -L/usr/lib/amd64 -R/usr/lib/amd64


CONFIGURE_OPTIONS_COMMON = \
	--enable-cpp \
	--enable-rebuild-chartables \
	--enable-utf8 \
	--enable-unicode-properties \
	--enable-newline-is-any \
	--disable-stack-for-recursion \
	--enable-pcregrep-libz \
	--enable-pcregrep-libbz2 \
	--with-posix-malloc-threshold=20 \
	--with-link-size=4 \
	--with-match-limit=10000000 \
	--with-pic

CONFIGURE_OPTIONS_32 = \
	--target=i386-pc-solaris2.11 \
	--bindir=\$${prefix}/bin \
	--libdir=\$${prefix}/lib

CONFIGURE_OPTIONS_64 = \
	--target=x86_64-pc-solaris2.11 \
	--bindir=\$${prefix}/bin/amd64 \
	--libdir=\$${prefix}/lib/amd64

build%:
	dh_testdir
	dh_auto_configure -B $(BUILD)/$@ -- \
		$(CONFIGURE_OPTIONS_COMMON) \
		$(CONFIGURE_OPTIONS_$*) \
		CC="$(CC_$*)" \
		CXX="$(CXX_$*)" \
		LDFLAGS="$(LDFLAGS) $(LDFLAGS_$*)" \
		CFLAGS="$(CFLAGS) $(CFLAGS_$*)" \
		CXXFLAGS="$(CXXFLAGS) $(CXXFLAGS_$*)"
	$(MAKE) -C $(BUILD)/$@
	touch $@

override_dh_auto_configure:
	autoreconf -fiv

override_dh_auto_build: build32 build64
override_dh_auto_install: build32 build64
	$(MAKE) -C $(BUILD)/build32 install DESTDIR=$(CURDIR)/debian/tmp
	$(MAKE) -C $(BUILD)/build64 install DESTDIR=$(CURDIR)/debian/tmp

override_dh_clean:
	dh_clean
	rm -rf $(BUILD)
	rm -f *-stamp
	rm -f build32 build64
	# These file are created by autoreconf & friends
	# and must not go to a quilt patch
	rm -f \
		configure \
		Makefile.in \
		Makefile \
		libpcre.pc \
		libpcreposix.pc \
		libpcrecpp.pc \
		pcre-config \
		pcre.h \
		pcre_stringpiece.h \
		pcrecpparg.h \
		config.h \
		ltmain.sh \
		aclocal.m4 \
		config.guess \
		config.status \
		config.h.in \
		config.sub



build build-indeb build-arch install clean binary:
	dh $@

