Source: turbokid
Upstream-Version: 1.0.5
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Federico Ceratto <federico.ceratto@gmail.com>
Build-Depends: debhelper, python, python-all, python-setuptools, python-support
Standards-Version: 3.8.4
Homepage: http://www.turbogears.org/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/turbokid/trunk/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/turbokid/trunk/

Package: python-turbokid
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-kid, python-pkg-resources
Description: TurboGears template plugin to use kid templates
 TurboGears is a complete front-to-back Web development mega-framework in
 Python.
 .
 This package contains the template plugin to use kid templates.
