Source: boost-jam
Homepage: http://sourceforge.net/projects/boost/
Section: devel
Priority: optional
Maintainer: Debian Boost Team <pkg-boost-devel@lists.alioth.debian.org>
Uploaders: Steve M. Robbins <smr@debian.org>, Domenico Andreoli <cavok@debian.org>, Christophe Prud'homme <prudhomm@mit.edu>
Build-Depends: debhelper (>= 4), docbook-to-man, bison
Standards-Version: 3.7.3
Upstream-Version: 3.1.16-1

Package: bjam
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: jam (<< 2.3.2-3)
Description: Software build tool 
 Boost.Jam (BJam) is a portable build tool with its own interpreted language,
 which allows to implement rather complex logic in a readable way and without
 resorting to external programs. It is a descendant of Jam/MR tool modified to
 suit the needs of Boost.Build. In particular, modules and rule parameters
 were added, as well as several new builtins.
