Source: dbus-glib
Upstream-Version: 0.94
Section: devel
Priority: optional
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Uploaders: Sjoerd Simons <sjoerd@debian.org>,
           Sebastian Dröge <slomo@debian.org>,
           Simon McVittie <smcv@debian.org>,
           Michael Biebl <biebl@debian.org>
Build-Depends: debhelper,
               libglib2.0-dev,
               libdbus-1-dev,
               libexpat-dev,
Standards-Version: 3.9.2
Vcs-Git: git://anonscm.debian.org/pkg-utopia/dbus-glib.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-utopia/dbus-glib.git
Homepage: http://www.freedesktop.org/wiki/Software/DBusBindings

Package: libdbus-glib-1-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: libdbus-glib-1-2 (= ${binary:Version}),
         libdbus-1-dev,
         libglib2.0-dev,
         ${shlibs:Depends},
         ${misc:Depends}
Conflicts: libdbus-glib-dev, dbus-glib-1-dev, dbus-1-utils (<< 0.50-2)
Replaces: libdbus-glib0-dev, dbus-glib-1-dev, libdbus-1-dev (<< 0.90)
Description: simple interprocess messaging system (GLib interface)
 D-Bus is a message bus, used for sending messages between applications.
 Conceptually, it fits somewhere in between raw sockets and CORBA in
 terms of complexity.
 .
 This package provides a GLib-style interface to D-Bus.
 .
 See the dbus description for more information about D-Bus in general.

Package: libdbus-glib-1-2
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: simple interprocess messaging system (GLib-based shared library)
 D-Bus is a message bus, used for sending messages between applications.
 Conceptually, it fits somewhere in between raw sockets and CORBA in
 terms of complexity.
 .
 This package provides the GLib-based shared library for applications using the
 GLib interface to D-Bus.
 .
 See the dbus description for more information about D-Bus in general.

