Source: libnumber-compare-perl
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>, Tim Retout <tim@retout.co.uk>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl (>> 5.6)
Standards-Version: 3.8.2
Homepage: http://search.cpan.org/dist/Number-Compare/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libnumber-compare-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libnumber-compare-perl/
Upstream-Version: 0.01-6

Package: libnumber-compare-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: module for performing numeric comparisons in Perl
 Number::Compare allows to compile a simple comparison to an anonymous
 subroutine, which can then be called with a value to be tested against.
 .
 The advantage of using this module is that it understands both the SI prefixes
 'k', 'M', and 'G', as well as the IEC binary prefixes 'Ki', 'Mi' and 'Gi'.
