Source: python-greenlet
Upstream-Version: 0.3.1
Priority: extra
Maintainer: Örjan Persson <orange@fobie.net>
Uploaders: Andreas Schuldei <andreas@debian.org>
Build-Depends: debhelper, python-all-dev, gcc, python-setuptools
Standards-Version: 3.8.4
X-Python-Version: 2.6, 2.7
Section: python
Homepage: http://pypi.python.org/pypi/greenlet

Package: python-greenlet-dbg
Section: debug
Architecture: i386 amd64 powerpc sparc s390 s390x arm mips solaris-any
Depends: ${misc:Depends}, python-greenlet (= ${binary:Version})
Description: Lightweight in-process concurrent programming development files
 The greenlet package is a spin-off of Stackless, a version of CPython that
 supports micro-threads called "tasklets". Tasklets run pseudo-concurrently
 (typically in a single or a few OS-level threads) and are synchronized with
 data exchanges on "channels".
 .
 greenlet is the standalone package derived from the py lib, and is used by
 several non-blocking IO packages as a more flexible alternative to Python's
 built in coroutines.
 .
 This is the debugging symbols for greenlet.

Package: python-greenlet-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: python-greenlet, python-greenlet-dev
Description: Lightweight in-process concurrent programming development files
 The greenlet package is a spin-off of Stackless, a version of CPython that
 supports micro-threads called "tasklets". Tasklets run pseudo-concurrently
 (typically in a single or a few OS-level threads) and are synchronized with
 data exchanges on "channels".
 .
 greenlet is the standalone package derived from the py lib, and is used by
 several non-blocking IO packages as a more flexible alternative to Python's
 built in coroutines.
 .
 This is the documentation for greenlet.

Package: python-greenlet-dev
Architecture: i386 amd64 powerpc sparc s390 s390x arm mips solaris-any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-greenlet (= ${binary:Version})
Description: Lightweight in-process concurrent programming development files
 The greenlet package is a spin-off of Stackless, a version of CPython that
 supports micro-threads called "tasklets". Tasklets run pseudo-concurrently
 (typically in a single or a few OS-level threads) and are synchronized with
 data exchanges on "channels".
 .
 greenlet is the standalone package derived from the py lib, and is used by
 several non-blocking IO packages as a more flexible alternative to Python's
 built in coroutines.
 .
 This is the development package for greenlet.

Package: python-greenlet
Architecture: i386 amd64 powerpc sparc s390 s390x arm mips solaris-any
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.6 | python2.7
Conflicts: python-codespeak-lib (<< 1.0)
Suggests: python-greenlet-doc, python-greenlet-dev, python-greenlet-dbg
Description: Lightweight in-process concurrent programming
 The greenlet package is a spin-off of Stackless, a version of CPython that
 supports micro-threads called "tasklets". Tasklets run pseudo-concurrently
 (typically in a single or a few OS-level threads) and are synchronized with
 data exchanges on "channels".
 .
 greenlet is the standalone package derived from the py lib, and is used by
 several non-blocking IO packages as a more flexible alternative to Python's
 built in coroutines.
