#!/usr/bin/make -f

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKEFLAGS += -j$(NUMJOBS)
endif

include /usr/share/quilt/quilt.make

DEB=debian/html2text

ifeq ($(DEB_HOST_ARCH_OS),solaris)
	CXX = gcc
	LDFLAGS += -liconv
	LIBSTDCXX_LIBS = /usr/lib/gcc/i486-pc-solaris2.11/4.4/libstdc++.a
endif

build: build-stamp
build-stamp: debian/stamp-patched
	dh_testdir
	./configure --prefix=$(DEB)/usr
	sed -i 's/$$(CXXFLAGS)/$$(CXXFLAGS) $$(DEB_CXXFLAGS)/g' Makefile
	$(MAKE) DEB_CXXFLAGS="$(CFLAGS)" LOCAL_LDFLAGS=-g LDFLAGS="$(LDFLAGS)" LIBSTDCXX_LIBS="$(LIBSTDCXX_LIBS)"
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-rm -rf Makefile html2text *.o configure-tmp Dependencies
	rm -f debian/tests/*.result
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

test: build
	#cd debian/tests/ && sh runtests

binary-indep:

binary-arch: build install test
	dh_testdir
	dh_testroot
	dh_install html2text usr/bin
	dh_installdocs README debian/NEWS.Debian debian/README.Debian TODO ascii.substitutes
	dh_installexamples pretty.style
	dh_installmime
	dh_installman debian/html2text.1
	# darn, patch those typos (bug #309887 here)
	zcat html2textrc.5.gz | sed \
		"s/specifiy/specify/; s/elemet/element/; s/who's/whose/" \
		| gzip -c9 > $(DEB)/usr/share/man/man5/html2textrc.5.gz
	dh_installchangelogs CHANGES
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary:	binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary test
