#!/usr/bin/make -f


BUILD = build-tree

CC_32 = gcc -m32
CC_64 = gcc -m64

CFLAGS_32 =
CFLAGS_64 =

# Use GNU linker since
# zlib.map is ambiguous due to SUNW_*
# symbols, and GNU linker is more tolerant.
# Changing symbol version can be dangerous
# because a lot of software already linked to zlib
# It was a mistake to introduce SUNW_* symbols
# *and* to keep ZLIB_* symbols. But now we have it all.
# Other way is to write a new mapfile taking versions
# from existing libz.
export LD_ALTEXEC = /usr/gnu/bin/ld
LDFLAGS_32 = -Wl,-melf_i386
LDFLAGS_64 = -Wl,-melf_x86_64

CONFIGURE_OPTIONS_COMMON = \
	--prefix=/usr

CONFIGURE_OPTIONS_32 =
	--libdir=\$${prefix}/lib

CONFIGURE_OPTIONS_64 = \
	--libdir=\$${prefix}/lib/amd64

%:
	dh $@

override_dh_auto_configure: \
	configure32-stamp \
	configure64-stamp

override_dh_auto_build: \
	build32-stamp \
	build64-stamp

override_dh_auto_test: \
	test32-stamp \
	test64-stamp

override_dh_auto_install: \
	install32-stamp \
	install64-stamp

override_dh_auto_clean:
	rm -rf $(BUILD)

override_dh_strip:
	dh_strip --dbg-package=zlib1g-dbg

configure%-stamp:
	# zlib  can't be built outside source tree,
	# copy all stuff
	mkdir -p $(BUILD)/$*
	tar cf - --exclude debian --exclude $(BUILD) . | \
		tar xf - -C $(BUILD)/$*
# shared=2 is a very dirty hack. See configure.
	cd $(BUILD)/$* && \
		env \
		CC="$(CC_$*)" \
		CFLAGS="$(CFLAGS) $(CFLAGS_$*) $(LDFLAGS_$*)" \
		SFLAGS="$(LDFLAGS) $(LDFLAGS_$*)" \
		uname=GNU \
		shared=2 \
	 	./configure \
		$(CONFIGURE_OPTIONS_COMMON) \
		$(CONFIGURE_OPTIONS_$*)
				
	touch $@

build%-stamp: configure%-stamp
	$(MAKE) -C $(BUILD)/$*
	$(MAKE) -C $(BUILD)/$*/contrib/minizip CC="$(CC_$*)" OPT="$(CFLAGS_$*) $(LDFLAGS_$*)"
	touch $@

test%-stamp: build%-stamp
	$(MAKE) -C $(BUILD)/$* test
	touch $@

install%-stamp: build%-stamp
	$(MAKE) -C $(BUILD)/$* \
		install \
		DESTDIR=$(CURDIR)/debian/tmp
	# install only 32 bits version. Adding 64 bits is trivial
	mkdir -p $(CURDIR)/debian/tmp/usr/bin
	cp $(BUILD)/32/contrib/minizip/minizip $(CURDIR)/debian/tmp/usr/bin/
	cp $(BUILD)/32/contrib/minizip/miniunz $(CURDIR)/debian/tmp/usr/bin/miniunzip
	touch $@

