#!/usr/bin/make -f


CC = gcc
#CXX = g++
SHELL = /bin/bash

#CFLAGS = -Wall -g -D_FILE_OFFSET_BITS=64
#CFLAGS = -g -D_FILE_OFFSET_BITS=64
#CFLAGS = 

#ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
#    CFLAGS += -O0
#else
#    CFLAGS += -O2
#endif

DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

ifeq ($(DEB_HOST_ARCH_OS),solaris)
	CPPFLAGS = -D_REENTRANT -D_POSIX_PTHREAD_SEMANTICS -DSOLARIS
	LDFLAGS += -lscf -lbsm -lresolv
endif

patch: patch-stamp
patch-stamp:
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2

	libtoolize -f
	aclocal
	automake src/tspi/Makefile
	autoconf

	touch $@

unpatch:
	QUILT_PATCHES=debian/patches quilt pop -a -f || test $$? = 2
	rm -f patch-stamp

configlibtool: configlibtool-stamp
configlibtool-stamp: patch

	libtoolize -f
	aclocal
	automake src/tspi/Makefile
	autoconf

	touch $@


configure32: patch configure32-stamp
configure32-stamp:
	mkdir -p build32 
	cd build32 && \
	CC="$(CC)" \
	CPPFLAGS="$(CPPFLAGS)" \
	LDFLAGS="$(LDFLAGS)" \
	../configure --prefix=/usr --with-gui=openssl

	touch $@

configure64: patch configure64-stamp
configure64-stamp:
	mkdir -p build64
	cd build64 && \
	CC="$(CC) -m64" \
	CPPFLAGS="$(CPPFLAGS)" \
	CFLAGS="$(CFLAGS) -m64" \
	LDFLAGS="$(LDFLAGS)" \
	../configure --prefix=/usr --with-gui=openssl

	touch $@


build: build32 build64

build32: build32-stamp
build32-stamp: configure32
	cd build32 && \
	$(MAKE)
	touch $@

build64: build64-stamp
build64-stamp: configure64
	cd build64 && \
	$(MAKE)
	touch $@

install: install-stamp
install-stamp: build32 build64
	dh_testdir
	dh_testroot
	dh_clean -k
	
	rm -rf debian/tmp
	dh_installdirs -a
	$(MAKE) -C build32 DESTDIR=$(CURDIR)/debian/inst32 install
	$(MAKE) -C build64 DESTDIR=$(CURDIR)/debian/inst64 install
	mkdir -p debian/tmp
	cp -ax debian/inst32/* debian/tmp
	mkdir -p debian/tmp/usr/lib/amd64
	cp -ax debian/inst64/usr/lib/* debian/tmp/usr/lib/amd64/
	
	install -d debian/tmp/etc/security/exec_attr.d
	install -m 0444 debian/Solaris/auth_attr debian/tmp/etc/security/exec_attr.d/trousers
	
	install -d debian/tmp/etc/security/prof_attr.d
	install -m 0444 debian/Solaris/prof_attr debian/tmp/etc/security/prof_attr.d/trousers

	mv debian/tmp/etc/tcsd.conf debian/tmp/etc/security
#	mv debian/tmp/usr/sbin/tcsd debian/tmp/usr/lib/
#	rm -rf debian/tmp/usr/sbin
	
	install -d debian/tmp/lib/svc/method
	install -m 0555 debian/Solaris/tcsd.sh debian/tmp/lib/svc/method/tcsd.sh

	install -d debian/tmp/lib/svc/manifest/application/security
	install -m 0444 debian/Solaris/tcsd.xml debian/tmp/lib/svc/manifest/application/security/tcsd.xml
	
	install -d -m 0700 debian/tmp/var/tpm/system
	install -d -m 1777 debian/tmp/var/tpm/pkcs11
	install -d -m 1777 debian/tmp/var/tpm/userps

	install -m 0600 dist/system.data.auth debian/tmp/var/tpm/system/system.data.auth
	install -m 0600 dist/system.data.noauth debian/tmp/var/tpm/system/system.data.noauth
	ln -s system.data.auth debian/tmp/var/tpm/system/system.data

	touch $@

binary: binary-arch binary-indep
binary-indep:
binary-arch: install
	dh_testdir
	dh_testroot
	
	dh_install -a
	
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installman -a
	
	dh_link -a
	
	dh_compress -a
	dh_makeshlibs
	
	dh_installdeb -a
	
	dh_shlibdeps -a
	
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a


clean: unpatch
	dh_testdir
	dh_testroot
	rm -f *-stamp
	rm -rf build32 build64
	rm -rf debian/inst32 debian/inst64
	rm -rf .pc
	rm -f config.guess config.sub ltmain.sh
	dh_clean

.PHONY: binary binary-arch configlibtool build clean
