#!/usr/bin/make -f
DEB_PYTHON_SYSTEM = pysupport
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

PKG = python-peak.rules
UPSTREAMS = \
	peak.rules \
	prioritized_methods \
	$(NULL)
export SUBDIRS = $(UPSTREAMS)

DEB_PYTHON_INSTALL_ARGS_ALL += --single-version-externally-managed

# avoid installing useless *.pth files
install/$(PKG)::
	rm -f debian/$(PKG)/usr/lib/python*/site-packages/*.pth

# Generate README for prioritized_methods out of its PKG-INFO.
# It will be installed by dh_installdocs
build/$(PKG)::
	egrep -i '^( |description:)' prioritized_methods/PKG-INFO > \
		README.prioritized_methods.txt
clean::
	rm -f README.prioritized_methods.txt

-include debian/get-orig-source.mk
