Source: paste
Upstream-Version: 1.7.5.1
Section: python
Priority: optional
Maintainer: Piotr Ożarowski <piotr@debian.org>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper, python-all,
 python-setuptools, python-support
Standards-Version: 3.9.2
Homepage: http://pythonpaste.org/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/paste/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/paste/trunk/

Package: python-paste
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-pkg-resources, python-formencode (>= 40-0-0)
Recommends: python-ctypes, python-openid, python-openssl, python-scgi, libjs-mochikit
Description: tools for using a Web Server Gateway Interface stack
 Python Paste brings consistency to Python web development and web application
 installation, providing tools for both developers and system administrators.
 .
 Paste for Administrators:
  * Easily install, run, and configure multiple Paste-enabled web
    applications at once, and integrate them into your website how
    you want (SCGI, FCGI, AJP, WSGI)
  * Manage and install web applications system-wide for easy maintenance
 .
 Paste for Web Developers:
  * Increase your web application's audience
  * Provide starter templates and custom commands for using your web framework
  * Keep your development and deployment straightened out, and your automated
    testing streamlined
  * Attention payed to the full development cycle -- starting projects,
    converting old projects, updating and deploying projects -- using a set of
    complementary packages and tools
