Source: libxml-sax-perl
Section: perl
Priority: optional
Maintainer: Jay Bonci <jaybonci@debian.org>
Standards-Version: 3.6.1.0
Build-Depends-Indep: perl, libxml-namespacesupport-perl
Build-Depends: debhelper (>= 4.1)

Package: libxml-sax-perl
Section: perl
Priority: optional
Architecture: all
Depends: ${perl:Depends}, libxml-namespacesupport-perl
Description: Perl module for using and building Perl SAX2 XML processors
 This module consists of several framework classes for using and
 building Perl SAX2 XML parsers, filters, and drivers.  It is designed
 around the need to be able to "plug in" different SAX parsers to an
 application without requiring programmer intervention.  Those of you
 familiar with the DBI will be right at home.  Some of the designs
 come from the Java JAXP specification (SAX part), only without the
 javaness.
 .
 This package also contains a script (called update-perl-sax-parsers)
 to manage the ParserDetails.ini file.  This script is intended to be
 used in postinst and prerm package scripts to (de)register parsers.
 See README.Debian for more info.
