Source: python2.7
Upstream-Version: 2.7.2
Section: python
Priority: optional
Maintainer: Matthias Klose <doko@debian.org>
Build-Depends:
 autoconf,
 bzip2,
 debhelper,
 dh-autoreconf,
 libbz2-dev,
 libdb4.8-dev,
 libexpat1-dev,
 libffi-dev,
 libgdbm-dev,
 libncursesw5-dev,
 libreadline-dev,
 libsqlite3-dev,
 libssl-dev,
 mime-support,
 netbase,
 sharutils,
 zlib1g-dev,
Standards-Version: 3.9.2
Vcs-Browser: https://code.launchpad.net/~doko/python/pkg2.7-debian
Vcs-Bzr: http://bazaar.launchpad.net/~doko/python/pkg2.7-debian

Package: python2.7
Architecture: any
Priority: optional
Depends: python2.7-minimal (= ${binary:Version}), mime-support, ${shlibs:Depends}, ${misc:Depends}
Provides: python2.7-cjkcodecs, python2.7-ctypes, python2.7-elementtree, python2.7-celementtree, python2.7-wsgiref, python2.7-profiler
Description: An interactive high-level object-oriented language (version 2.7)
 Version 2.7 of the high-level, interactive object oriented language,
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.

Package: python2.7-minimal
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: python2.7
Description: A minimal subset of the Python language (version 2.7)
 This package contains the interpreter and some essential modules.  It can
 be used in the boot process for some basic tasks.
 See /usr/share/doc/python2.7-minimal/README.Debian for a list of the modules
 contained in this package.

Package: libpython2.7
Architecture: any
Section: libs
Priority: optional
Depends: python2.7 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Shared Python runtime library (version 2.7)
 Version 2.7 of the high-level, interactive object oriented language,
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.
 .
 This package contains the shared runtime library, normally not needed
 for programs using the statically linked interpreter.

Package: python2.7-dev
Architecture: any
Depends: python2.7 (= ${binary:Version}), libpython2.7 (= ${binary:Version}), libexpat1-dev, libssl-dev, ${shlibs:Depends}, ${misc:Depends}
Description: Header files and a static library for Python (v2.7)
 Header files, a static library and development tools for building
 Python (v2.7) modules, extending the Python interpreter or embedding
 Python (v2.7) in applications.
 .
 Maintainers of Python packages should read README.maintainers.

Package: python2.7-dbg
Section: debug
Architecture: any
Priority: extra
Depends: python2.7 (>= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Debug Build of the Python Interpreter (version 2.7)
 Python interpreter configured with --pydebug. Dynamically loaded modules are
 searched in /usr/lib/python2.7/lib-dynload/debug first.

Package: idle-python2.7
Architecture: all
Depends: python2.7, python-tk, python2.7-tk, ${misc:Depends}
Enhances: python2.7
Description: An IDE for Python (v2.7) using Tkinter
 IDLE is an Integrated Development Environment for Python (v2.7).
 IDLE is written using Tkinter and therefore quite platform-independent.

Package: python2.7-examples
Architecture: all
Depends: python2.7 (>= ${source:Version}), ${misc:Depends}
Description: Examples for the Python language (v2.7)
 Examples, Demos and Tools for Python (v2.7). These are files included in
 the upstream Python distribution (v2.7).

