Source: base-files
Section: admin
Priority: required
Maintainer: Nexenta Systems <maintainer@nexenta.com>

Package: base-files
Provides: base
Architecture: any
Depends: sunwcs
Priority: required
Replaces: base, miscutils
Description: base system miscellaneous files
 This package contains the basic filesystem hierarchy of a system, and
 several important miscellaneous files, such as /etc/debian_version,
 /etc/host.conf, /etc/issue, /etc/motd, /etc/profile,
 and others, and the text of several common licenses in use on systems.

#Package: lsb-release-udeb
#Section: debian-installer
#Architecture: all
#Priority: extra
#Description: LSB release information
