Source: nexenta-on-source
Section: devel
Priority: optional
Maintainer: Erast Benson <erast@gnusolaris.org>
Build-Depends: debhelper(>=4.9.3elatte), patch, wget, onbld-essential, mercurial (>= 1.3), debarchiver (>= 0.9.3-0nexenta1)
Upstream-Version: 5.11.148-1

Package: nexenta-on-source
Architecture: solaris-i386
Depends: ${shlibs:Depends}, onbld-essential, debarchiver (>= 0.9.3-0nexenta1)
Description: Nexenta ON source and build
 This package contains ON source, Nexenta patches and integrated
 build system which as the result producing Debian packages
