#!/usr/bin/make -f
# -*- makefile -*-

REALDIR=$(CURDIR)/openpgm/pgm

%:
	dh $@ --sourcedirectory=$(REALDIR) --with autoreconf

# man dh_autoreconf,
# man autoreconf:
override_dh_autoreconf:
	dh_autoreconf autoreconf -- -v $(REALDIR)

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=libpgm-dbg

