Source: distribute
Upstream-Version: 0.6.16
Section: python
Priority: optional
Maintainer: Matthias Klose <doko@debian.org>
Build-Depends-Indep: python-all-dev,
Build-Depends: debhelper
Standards-Version: 3.9.1
Homepage: http://packages.python.org/distribute

Package: python-pkg-resources
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Package Discovery and Resource Access using pkg_resources
 The pkg_resources module provides an API for Python libraries to
 access their resource files, and for extensible applications and
 frameworks to automatically discover plugins.  It also provides
 runtime support for using C extensions that are inside zipfile-format
 eggs, support for merging packages that have separately-distributed
 modules or subpackages, and APIs for managing Python's current
 "working set" of active packages.

Package: python-setuptools
Architecture: all
Depends: ${python:Depends}, python-pkg-resources (= ${binary:Version}), ${misc:Depends}
Provides: ${python:Provides}, python-distribute
Description: Python Distutils Enhancements (setuptools compatibility)
 Extensions to the python-distutils for large or complex distributions.
 .
 Package providing compatibility with old setuptools (0.6c9).

