#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

MAKEVARS=prefix=/usr CRYPTO=GNUTLS

override_dh_auto_build:
	dh_auto_build -- $(MAKEVARS)

override_dh_auto_install:
	dh_auto_install -- $(MAKEVARS)

%:
	dh $@ --with quilt
