#!/usr/bin/make -f

# These rules are rewritten from scratch for NCP4

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

LDFLAGS += -Wl,--as-needed

# Remember to remove patchutils from build-deps if
# removing simple-patchsys (which is deprecated),
# simple-patchsys should be replaced with quilt:
include /usr/share/cdbs/1/rules/simple-patchsys.mk

# We should check headers before libs and struct
# (otherwise sockaddr_in6.sin6_addr is missing).
# Patch debian/patches/000-configure-headers.patch do it
# and we need to regenerate configure.
# Other patches may touch configure.ac && friends.

# ===========================
# dh-autoreconf_2 has a bug (autoreconf runs many times):
# http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=618580
# So, for a while, we do not include buggy file:

include /usr/share/cdbs/1/rules/autoreconf.mk

# but copy-n-paste dh-autoreconf_3 part:
post-patches:: debian/autoreconf.after

debian/autoreconf.after:
	dh_autoreconf $(DEB_DH_AUTORECONF_ARGS)

clean::
	dh_autoreconf_clean $(DEB_DH_AUTORECONF_CLEAN_ARGS)
# end of dh-autoreconf part.
# ===========================

# Perl modules can not be built outside the source directory
# so we build 32bit version in place,
# bu 64bit version is building witjout perl modules
DEB_BUILDDIR64 = $(DEB_SRCDIR)/build64

# Options are snipped from SFW:
CFGPREFIX = /usr
CONFIGURE_COMMON = \
	--with-default-snmp-version=3 \
	--with-sys-contact="root@localhost" \
	--with-sys-location=Unknown \
	--with-logfile=/var/log/snmpd.log \
	--with-persistent-directory=/var/net-snmp \
	--datadir=/etc/net-snmp \
	--mandir=/usr/share/man \
	--with-mibdirs=/etc/net-snmp/snmp/mibs \
	--enable-agentx-dom-sock-only \
	--enable-ucd-snmp-compatibility \
	--enable-ipv6 \
	--enable-mfd-rewrites \
	--with-transports="UDP TCP UDPIPv6 TCPIPv6"

CONFIGURE32 = \
	--with-mib-modules="host disman/event-mib ucd-snmp/diskio udp-mib tcp-mib if-mib" \
	--with-pkcs=/usr/lib \
	--with-perl-modules="DESTDIR=$(DEB_DESTDIR) INSTALLDIRS=vendor" \
	--with-ldflags="-R${CFGPREFIX}/lib" \
	--libdir=${CFGPREFIX}/lib 

CONFIGURE64 = \
	--with-mib-modules="host disman/event-mib ucd-snmp/diskio udp-mib tcp-mib if-mib" \
	--with-cflags="$(CFLAGS) -m64" \
	--with-pkcs=/usr/lib/amd64 \
	--with-ldflags="-R${CFGPREFIX}/lib/amd64" \
	--libdir=${CFGPREFIX}/lib/amd64 \
	--bindir=${CFGPREFIX}/bin/amd64 \
	--sbindir=${CFGPREFIX}/sbin/amd64 \
	--disable-embedded-perl \
	--without-perl-modules \
	--target=x86_64-pc-solaris2.11

DEB_CONFIGURE_EXTRA_FLAGS = \
							$(CONFIGURE_COMMON) \
							$(CONFIGURE32)

common-build-arch:: $(DEB_BUILDDIR64)
$(DEB_BUILDDIR64):
	dh_testdir
	dh_auto_configure -B $(DEB_BUILDDIR64) -- \
							$(CONFIGURE_COMMON) \
							$(CONFIGURE64)
	$(MAKE) -C $(DEB_BUILDDIR64)

# Install amd64 libs before all others
#common-install-prehook-arch::  $(DEB_DESTDIR)/usr/lib/amd64
common-install-prehook-indep:: $(DEB_DESTDIR)/usr/lib/amd64
$(DEB_DESTDIR)/usr/lib/amd64: $(DEB_BUILDDIR64)
	# Work around of relinking errors (and missing libraries)
	# due to cyclic dependancies of *.so:
	$(MAKE) -C $(DEB_BUILDDIR64)/agent   installlibs DESTDIR=$(DEB_DESTDIR)
	$(MAKE) -C $(DEB_BUILDDIR64)         installlibs DESTDIR=$(DEB_DESTDIR)

install/snmpd::
	dh_installsvc -psnmpd

common-install-indep:: $(DEB_DESTDIR)/usr/share/man/man5/snmp.conf.5snmp
$(DEB_DESTDIR)/usr/share/man/man5/snmp.conf.5snmp:
	bash ./debian/fixman

clean::
	-rm -rf $(DEB_BUILDDIR64)

