#!/usr/bin/make -f
#
# (C) 1999-2006 Roland Rosenfeld <roland@debian.org>, based on
# Sample debian/rules that uses debhelper. 
# This file is public domain software, originally written by Joey Hess.
#
# This version is for packages that are architecture independent.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

debroot=`pwd`/debian/gsfonts-x11

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	for f in `sed -e '1d;s/ .*//' < fonts.scale`; do \
		ln -sf ../../type1/gsfonts/$$f \
			$(debroot)/usr/share/fonts/X11/Type1/$$f; \
	done

	perl -e 'my $$lines=""; my $$count=0; '\
'		 while (<>) { '\
'		    next if /^\d+$$/; '\
'		    $$lines.=$$_; $$count++; '\
'	 	    if(/iso8859-1/) { '\
'		       s/iso8859-1/iso8859-2/g; '\
'		       $$lines.=$$_; $$count++; '\
'		       s/iso8859-2/iso8859-15/g; '\
'		       $$lines.=$$_; $$count++; '\
'		    } '\
'		 } '\
'		 print "$$count\n$$lines";' \
		 < fonts.scale \
		 > $(debroot)/etc/X11/fonts/Type1/gsfonts-x11.scale

	perl -ne 'print; '\
'		  if (/iso8859-1/) { '\
'		     s/iso8859-1/iso8859-2/g; '\
'		     print; '\
'		     s/iso8859-2/iso8859-15/g; '\
'		     print; '\
'		  }' \
		  < fonts.alias \
		  > $(debroot)/etc/X11/fonts/Type1/gsfonts-x11.alias

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installxfonts
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
#	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
