Source: ntop
Section: contrib/net
Priority: optional
Maintainer: Ola Lundqvist <opal@debian.org>
Build-Depends: debhelper (>= 4.1.39), autoconf, automake, libgdbm-dev, libpng12-dev, libncurses5-dev, libtool,  libgd2-noxpm-dev, libssl-dev, libjpeg62-dev, po-debconf
Standards-Version: 3.7.2

Package: ntop
Architecture: any
Depends: adduser, debconf (>= 1.2.0) | debconf-2.0, libpcap1.1.1,libfreetype6 (>= 2.3.5), libgcc1 (>= 1:4.2.1), libgd2-noxpm | libgd2-xpm, libgdbm3, libjpeg62,  libpng12-0 (>= 1.2.13-4), sunwcs, system-library, zlib1g (>= 1:1.2.3.3.dfsg-1)
Suggests: graphviz
Description: display network usage in top-like format
 ntop is a Network Top program. It displays a summary of network usage by
 machines on your network in a format reminiscent of the unix top utility.
 .
 It can also be run in web mode, which allows the display to be browsed with
 a web browser.
