Source: libmro-compat-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl (>= 5.8.8-7), 
 libclass-c3-perl (>= 0.20), libtest-pod-perl, libtest-pod-coverage-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Krzysztof Krzyżaniak (eloy) <eloy@debian.org>,
 Damyan Ivanov <dmn@debian.org>,
 gregor herrmann <gregoa@debian.org>,
 Nathan Handler <nhandler@ubuntu.com>
Standards-Version: 3.8.1
Homepage: http://search.cpan.org/dist/MRO-Compat/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libmro-compat-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libmro-compat-perl/
Upstream-Version: 0.11-1

Package: libmro-compat-perl
Architecture: all
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends},
 libclass-c3-perl (>= 0.20)
Recommends: libclass-c3-xs-perl
Description: mro::* interface compatibility for Perls < 5.9.5
 The "mro" namespace provides several utilities for dealing with method 
 resolution order and method caching in general in Perl 5.9.5 and higher.
 .
 MRO::Compat provides those interfaces for earlier versions of Perl 
 (back to 5.6.0 anyways).
