Source: pastescript
Upstream-Version: 1.7.3
Section: python
Priority: optional
Maintainer: Piotr Ożarowski <piotr@debian.org>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper
Build-Depends-Indep: python-all,
 python-setuptools, python-paste, python-pastedeploy,
 python-support
Standards-Version: 3.9.2
Homepage: http://pythonpaste.org/script/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/pastescript/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/pastescript/trunk/

Package: python-pastescript
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-paste,
 python-pastedeploy, python-setuptools | python-distribute
Description: serving web applications, creating file layouts for Python packages
 Paster is pluggable command-line frontend,
 including commands to setup package file layouts
 .
 Built-in features:
  * Creating file layouts for packages.
    For instance a setuptools-ready file layout.
  * Serving up web applications, with configuration based on paste.deploy
