Source: nexenta-keyring
Section: misc
Priority: optional
Maintainer: Michael Vogt <michael.vogt@canonical.com>
Standards-Version: 3.6.1.0

Package: nexenta-keyring
Architecture: all
Depends: gnupg (>= 1.0.6-4)
Description: GnuPG keys of the Nexenta archive
 The Nexenta project digitally signs its Release files. This package
 contains the archive keys used for that.
