#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# C compiler information
CC              = gcc
CFLAGS          = -Wall -g

INSTALL         = install

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL += -s
endif

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  confflags += --build $(DEB_HOST_GNU_TYPE)
else
  confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif
    

configure32: configure32-stamp
configure32-stamp:
	dh_testdir
	mkdir -p build32

	cd build32 && \
	../configure $(confflags) \
	  	--prefix=/usr --mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info 
	
	touch $@

configure64: configure64-stamp
configure64-stamp:
	dh_testdir
	mkdir -p build64

	cd build64 && \
	CC="$(CC) -m64" \
	CFLAGS="$(CFLAGS) -m64" \
	../configure \
	  	--prefix=/usr --mandir=\$${prefix}/share/man \
	  	--libdir=\$${prefix}/lib/amd64 \
		--infodir=\$${prefix}/share/info 
	
	touch $@

build: build32-stamp build64-stamp
build32-stamp: configure32-stamp
	dh_testdir

	$(MAKE) -C build32

	touch $@

build64-stamp: configure64-stamp
	dh_testdir

	$(MAKE) -C build64

	touch $@

clean:
	dh_testdir
	dh_testroot

#	-test -r /usr/share/misc/config.sub && \
                cp -f /usr/share/misc/config.sub config.sub
#	-test -r /usr/share/misc/config.guess && \
                cp -f /usr/share/misc/config.guess config.guess
#	-if test -f ltmain.sh ; then touch ltmain.sh; else libtoolize -c; fi
#	-if test -f aclocal.m4 ; then touch aclocal.m4; else aclocal-1.8 -I m4 ; fi
#	-if test -f config.h.in ; then touch config.h.in; else autoheader2.50; fi
#	-if test -f Makefile.in ; then find . -name Makefile.in -exec touch {} \; ;\
#               else automake-1.8 --copy --add-missing; fi
#	-if test -f configure ; then touch configure; else autoconf2.50; fi

	[ ! -f Makefile ] || $(MAKE) distclean

	rm -rf build32 build64 debian/inst32 debian/inst64
	dh_clean *-stamp

install: install-stamp
install-stamp: build32-stamp
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	rm -rf debian/tmp
	$(MAKE) -C build32 install DESTDIR=$(CURDIR)/debian/inst32/
	$(MAKE) -C build64 install DESTDIR=$(CURDIR)/debian/inst64/

	mkdir -p debian/tmp
	cp -ax debian/inst32/* debian/tmp

	mkdir -p debian/tmp/usr/lib/amd64
	cp -ax debian/inst64/usr/lib/amd64/* debian/tmp/usr/lib/amd64/

	mkdir -p debian/tmp/usr/bin/amd64
	cp -ax debian/inst64/usr/bin/* debian/tmp/usr/bin/amd64/

	touch $@

binary-indep: build

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	sed -i "/dependency_libs/ s/'.*'/''/" debian/*/usr/lib/*.la
	sed -i "/dependency_libs/ s/'.*'/''/" debian/*/usr/lib/amd64/*.la

	dh_installdocs
	dh_installman
	dh_installinfo
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs -V --add-udeb=libgpg-error0-udeb
	dh_makeshlibs -V
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean install binary-indep binary-arch binary
