Source: python-testtools
Upstream-Version: 0.9.11
Maintainer: Robert Collins <robertc@robertcollins.net>
Section: python
Priority: optional
Standards-Version: 3.8.1
Build-Depends:
    debhelper,
    python,
X-Python-Version: >= 2.6
Homepage: https://launchpad.net/testtools

Package: python-testtools
Architecture: all
Depends: ${python:Depends},
    ${misc:Depends},
    python-pkg-resources
Provides: ${python:Provides}
Breaks: python-subunit (<< 0.0.6)
Recommends: python-fixtures
Suggests: python-twisted
Description: Extensions to the Python unittest library
 testtools (formerly pyunit3k) is a set of extensions to the Python standard
 library's unit testing framework. These extensions have been derived from
 years of experience with unit testing in Python and come from many different
 sources. It's hoped that these extensions will make their way into the
 standard library eventually. Also included are backports from Python trunk of
 unittest features that are not otherwise available to existing unittest users.
