#!/usr/bin/make -f

BUILD = build-tree

CC_32 = gcc -m32
CC_64 = gcc -m64

CXX_32 = g++ -m32
CXX_64 = g++ -m64

CFLAGS_32 =
CFLAGS_64 =

LDFLAGS_32 = -L/usr/lib -R/usr/lib
LDFLAGS_64 = -L/usr/lib/amd64 -R/usr/lib/amd64

# No build, no test
override_dh_auto_build:
override_dh_auto_test:

install%:
	dh_testdir
	mkdir -p $(BUILD)/$*
	$(MAKE) clean

	$(MAKE) install PREFIX=$(BUILD)/$*/usr \
		CC="$(CC_$*)" \
		CXX="$(CXX_$*)" \
		LDFLAGS="$(LDFLAGS) $(LDFLAGS_$*)" \
		CFLAGS="$(CFLAGS) $(CFLAGS_$*)" \
		CXXFLAGS="$(CXXFLAGS) $(CXXFLAGS_$*)"
	touch $@

override_dh_auto_install: install32 install64

override_dh_clean:
	dh_clean
	rm -rf $(BUILD)
	rm -f install{32,64}
%:
	dh $@

