Source: python-lzma
Upstream-Version: 0.5.3
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Richard Darst <rkd@zgib.net>
Build-Depends: debhelper, liblzma-dev, python-all-dev, python-setuptools, pkg-config, python-all-dbg
Standards-Version: 3.9.2
X-Python-Version: >= 2.6
Homepage: https://launchpad.net/pyliblzma
Vcs-Svn: svn://svn.debian.org/python-modules/packages/python-lzma/trunk
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/python-lzma/trunk

Package: python-lzma
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Description: Python bindings for liblzma
 PylibLZMA provides a Python interface for the liblzma library for
 reading and writing data that has been compressed or can be
 decompressed by Lasse Collin's xz / lzma utils.

Package: python-lzma-dbg
Architecture: any
Priority: extra
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends}, python-lzma (= ${binary:Version})
Description: python-lzma debug symbols 
 PylibLZMA provides a Python interface for the liblzma library for
 reading and writing data that has been compressed or can be
 decompressed by Lasse Collin's xz / lzma utils.
 .
 This package contains detached debugging symbols for python-lzma.
