#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_strip:
	dh_strip --dbg-package=python-lzma-dbg

# debug package can refer to docs of depended-on binary package
override_dh_installdocs:
	dh_installdocs
	$(RM) -rf         debian/python-lzma-dbg/usr/share/doc/python-lzma-dbg
	ln -s python-lzma debian/python-lzma-dbg/usr/share/doc/python-lzma-dbg

