Source: libfile-mimeinfo-perl
Upstream-Version: 0.15
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Florian Ragwitz <rafl@debian.org>, Damyan Ivanov <dmn@debian.org>
Build-Depends: debhelper
Build-Depends-Indep: perl, libfile-basedir-perl, libfile-desktopentry-perl
Standards-Version: 3.8.0
Homepage: http://search.cpan.org/dist/File-MimeInfo/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libfile-mimeinfo-perl/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-perl/trunk/libfile-mimeinfo-perl/

Package: libfile-mimeinfo-perl
Architecture: all
Depends: ${perl:Depends}, libfile-basedir-perl, shared-mime-info, libfile-desktopentry-perl
Description: Perl module to determine file types
 This module can be used to determine the mime type of a file. It tries to
 implement the freedesktop specification for a shared MIME database.
 .
 This package also contains two related utilities:
  * mimetype: determine a files mimetype
  * mimeopen: open files according to their mimetype
