Source: python-dns
Upstream-Version: 2.3.5
Section: python
Priority: optional
Maintainer: Scott Kitterman <scott@kitterman.com>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper, python-all, python-support
Vcs-Svn: svn://svn.debian.org/python-modules/packages/python-dns/trunk
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/python-dns/trunk/
Standards-Version: 3.9.2
Homepage: http://sourceforge.net/projects/pydns/

Package: python-dns
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: DNS client module for Python
 This Python module provides an DNS API for looking up DNS entries from
 within Python modules and applications. This module is a simple, lightweight
 implementation. It is not as complete as python-dnspython, but is useful for
 many common applications.

