#! /usr/bin/make -f
# Build the libgcrypt package for Debian.

#DEB_CONFIGURE_EXTRA_FLAGS := --enable-noexecstack \
#	--enable-ld-version-script --libdir=/usr/lib

CC = gcc
CXX = g++
SHELL = /bin/bash

CFLAGS = -Wall -g -D_FILE_OFFSET_BITS=64

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    CFLAGS += -O0
else
    CFLAGS += -O2
endif

DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

patch: patch-stamp
patch-stamp:
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2

	touch $@

unpatch:
	QUILT_PATCHES=debian/patches quilt pop -a -f || test $$? = 2
	rm -f patch-stamp

configure32: patch configure32-stamp
configure32-stamp:
	mkdir -p build32 
	cd build32 && \
	CC="$(CC)" \
	../configure --prefix=/usr --enable-noexecstack

	touch $@

configure64: patch configure64-stamp
configure64-stamp:
	mkdir -p build64
	cd build64 && \
	CC="$(CC) -m64" \
	CFLAGS="$(CFLAGS) -m64" \
	../configure --prefix=/usr \
	--enable-noexecstack \
	--build=x86_64-pc-solaris2.11 \
	--libdir=/usr/lib/amd64

	touch $@


build: build32 build64

build32: build32-stamp
build32-stamp: configure32
	cd build32 && \
	$(MAKE)
	touch $@

build64: build64-stamp
build64-stamp: configure64
	cd build64 && \
	$(MAKE)
	touch $@

install: install-stamp
install-stamp: build32 build64
	dh_testdir
	dh_testroot
	dh_clean -k
	
	rm -rf debian/tmp
	dh_installdirs -a
	$(MAKE) -C build32 DESTDIR=$(CURDIR)/debian/inst32 install
	$(MAKE) -C build64 DESTDIR=$(CURDIR)/debian/inst64 install
	mkdir -p debian/tmp
	cp -ax debian/inst32/* debian/tmp
	mkdir -p debian/tmp/usr/lib/amd64
	cp -ax debian/inst64/usr/lib/amd64/* debian/tmp/usr/lib/amd64/
	mkdir -p debian/tmp/usr/bin/amd64
	cp -ax debian/inst64/usr/bin/* debian/tmp/usr/bin/amd64/
	
	touch $@

binary: binary-arch binary-indep
binary-indep:
binary-arch: install
	dh_testdir
	dh_testroot
	
	dh_install -a
	
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installman -a
	
	dh_link -a
	
	dh_compress -a
	dh_makeshlibs
	
	dh_installdeb -a
	
	dh_shlibdeps -a
	
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a


clean: unpatch
	dh_testdir
	dh_testroot
	rm -f *-stamp
	rm -rf build32 build64
	rm -rf debian/inst32 debian/inst64
	rm -rf .pc
#	rm -f config.guess config.sub ltmain.sh
	dh_clean

.PHONY: binary binary-arch build install clean
