#!/usr/bin/make -f

#export DH_VERBOSE = 1

# Set this variable if you're building packages outside of Debian and don't
# want the checks for DFSG-freeness.
#DFSG_NONFREE = 1

CC = gcc
CXX = g++
SHELL = /bin/bash

CFLAGS = -Wall -g -D_FILE_OFFSET_BITS=64 -D_GNU_SOURCE
INSTALL = install
INSTALL_FILE    = $(INSTALL) -p    -o root -g root  -m  644
INSTALL_PROGRAM = $(INSTALL) -p    -o root -g root  -m  755
INSTALL_SCRIPT  = $(INSTALL) -p    -o root -g root  -m  755
INSTALL_DIR     = $(INSTALL) -p -d -o root -g root  -m  755

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    CFLAGS += -O0
else
    CFLAGS += -O2
endif

# Tell Autoconf the correct system types.
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
    SYSTEM = --build $(DEB_HOST_GNU_TYPE)
else
    SYSTEM = --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

#CONFIG		= $(shell grep -v "^\#" debian/configure.options)

CONFDIRS= --prefix= --exec-prefix=/usr --libexecdir=/usr/lib \
    --sysconfdir=/etc --localstatedir=/var/openldap \
    --includedir=/usr/include/openldap --mandir=/usr/share/man

installdir	:= $(CURDIR)/debian/install
tmpdir		:= $(CURDIR)/debian/tmp
builddir	:= $(CURDIR)/debian/build
slapddir	:= $(CURDIR)/debian/slapd/usr/sbin

MAKEVARS	:= DESTDIR=$(installdir) STRIP=

# Include the quilt patch system.
#include /usr/share/quilt/quilt.make

# These variables are used only by get-orig-source, which will normally only
# be run by maintainers.
VERSION = 2.4.21
URL     = http://www.openldap.org/software/download/OpenLDAP/openldap-release/

BDBCONF = \
	--disable-cryptography  \
	--disable-hash          \
	--disable-queue         \
	--disable-replication   \
	--disable-statistics    \
	--disable-compat185     \
	--disable-cxx           \
	--disable-debug         \
	--disable-debug_rop     \
	--disable-debug_wop     \
	--disable-diagnostic    \
	--disable-dump185       \
	--disable-java          \
	--disable-mingw         \
	--disable-rpc           \
	--enable-smallbuild     \
	--disable-tcl           \
	--disable-test          \
	--disable-shared        \
	--enable-static

LDAPCONF = \
	--with-openssl \
	--disable-static \
	--enable-overlays \
	--disable-dynamic \
	--enable-crypt \
	--enable-shared \
	--enable-bdb \
	--enable-hdb \
	--enable-null \
	--enable-passwd \
	--enable-shell \
	--with-cyrus-sasl \
	--with-threads \
	--without-gnutls \
	--with-tls=openssl \
	--disable-openssl-version-check

patch: patch-stamp
patch-stamp:
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2
	touch $@

unpatch:
	QUILT_PATCHES=debian/patches quilt pop -a || test $$? = 2
	rm -f patch-stamp
	rm -f debian/patch-stamp

unpackbdb: unpackbdb-stamp
unpackbdb-stamp:
	tar zxvf debian/bdb-4.5.20.b.tgz -C debian
	touch $@

configurebdb32: configurebdb32-stamp
configurebdb32-stamp: unpackbdb
	test -d debian/bdbbld32 || mkdir -p debian/bdbbld32
	cd debian/bdbbld32 && \
	CC=$(CC) \
	CXX=$(CXX) \
	CFLAGS="$(CFLAGS)" \
	CXXFLAGS="$(CCFLAGS)" \
	../bdb-4.5.20.b/source/4.5.20.b/dist/configure $(SYSTEM) \
	$(BDBCONF)
	touch $@

configurebdb64: configurebdb64-stamp
configurebdb64-stamp: unpackbdb
	test -d debian/bdbbld64 || mkdir -p debian/bdbbld64
	cd debian/bdbbld64 && \
	CC="$(CC) -m64" \
	CXX="$(CXX) -m64" \
	CFLAGS="$(CFLAGS) -m64" \
	CXXFLAGS="$(CCFLAGS) -m64" \
	../bdb-4.5.20.b/source/4.5.20.b/dist/configure --build=x86_64-pc-solaris2.11 \
	$(BDBCONF)
	touch $@


buildbdb: buildbdb32 buildbdb64

buildbdb32: buildbdb32-stamp
buildbdb32-stamp: configurebdb32
	$(MAKE) -C debian/bdbbld32
	touch $@

buildbdb64: buildbdb64-stamp
buildbdb64-stamp: configurebdb64
	$(MAKE) -C debian/bdbbld64
	touch $@

installbdb: installbdb32-stamp installbdb64-stamp
installbdb32-stamp: buildbdb32
	$(MAKE) -C debian/bdbbld32 install prefix=`pwd`/debian/bdb32
	touch $@

installbdb64-stamp: buildbdb64
	$(MAKE) -C debian/bdbbld64 install prefix=`pwd`/debian/bdb64
	touch $@

configure32: installbdb32-stamp configure32-stamp
configure32-stamp:
	mkdir -p build32
	cd build32 && \
	CC=$(CC) \
	CXX=$(CXX) \
	CFLAGS="$(CFLAGS)" \
	CPPFLAGS="$(CPPFLAGS) -I$(CURDIR)/debian/bdb32/include" \
	LDFLAGS="$(LDFLAGS) -L$(CURDIR)/debian/bdb32/lib -R$(CURDIR)/debian/bdb32/lib" \
	$(CURDIR)/configure $(SYSTEM) --with-libtool \
		$(CONFDIRS) \
		$(LDAPCONF)
#	perl debian/check_config
	$(MAKE) -C build32 depend
	touch $@

configure64: installbdb64-stamp configure64-stamp
configure64-stamp: patch
	mkdir -p build64
	cd build64 && \
	CC="$(CC) -m64" \
	CXX="$(CXX) -m64" \
	CFLAGS="$(CFLAGS) -m64" \
	CXXFLAGS="-m64" \
	CPPFLAGS="-I$(CURDIR)/debian/bdb64/include" \
	LDFLAGS="-L$(CURDIR)/debian/bdb64/lib -R$(CURDIR)/debian/bdb64/lib" \
	LDFLAGS64="-m elf_x86_64" \
	$(CURDIR)/configure --build=x86_64-pc-solaris2.11 --with-libtool \
		$(CONFDIRS) \
		$(LDAPCONF) \
		--libdir=/usr/lib/amd64
#	perl debian/check_config
	$(MAKE) -C build64 depend
	touch $@

build: build-arch build-indep
build-arch: install
build-indep: 
build32: build32-stamp
build32-stamp: configure32
	$(MAKE) -C build32 DESTDIR=$(CURDIR)/debian/inst32
	rm -rf $(CURDIR)/debian/inst32
	$(MAKE) -C build32 DESTDIR=$(CURDIR)/debian/inst32 install
	touch $@

build64: build64-stamp
build64-stamp: configure64
	LDFLAGS64="-m elf_x86_64" $(MAKE) -C build64 DESTDIR=$(CURDIR)/debian/inst64
	rm -rf $(CURDIR)/debian/inst64
	$(MAKE) -C build64 DESTDIR=$(CURDIR)/debian/inst64 install
	touch $@

install: install-stamp
install-stamp: build32 build64
	dh_testdir
	dh_testroot
	dh_clean -k
	rm -rf debian/tmp
	dh_installdirs -a
	mkdir -p debian/tmp
	cp -a debian/inst32/* debian/tmp

	cp -ax debian/inst64/usr/lib/amd64 debian/tmp/usr/lib
	cp -ax debian/inst64/usr/lib/slapd debian/tmp/usr/lib/amd64/

	install -d debian/tmp/usr/bin/amd64
	cp -ax debian/inst64/usr/bin/* debian/tmp/usr/bin/amd64/

	install -d debian/tmp/etc/security/exec_attr.d
	install -m 0444 debian/Solaris/exec_attr debian/tmp/etc/security/exec_attr.d/openldap

	install -d debian/tmp/etc/security/prof_attr.d
	install -m 0444 debian/Solaris/prof_attr debian/tmp/etc/security/prof_attr.d/openldap

	install -d debian/tmp/lib/svc/manifest/network/ldap
	install -m 0444 debian/Solaris/ldap-olslapd.xml debian/tmp/lib/svc/manifest/network/ldap/ldap-olslapd.xml

	install -d debian/tmp/lib/svc/method
	install -m 0555 debian/Solaris/ldap-olslapd debian/tmp/lib/svc/method/ldap-olslapd

	install -d debian/tmp/lib/svc/manifest/application/security
	install -m 0444 debian/Solaris/ldap-olslapd.xml debian/tmp/lib/svc/manifest/application/security/ldap-olslapd.xml

	for i in ldapcompare ldapdelete ldapexop ldapmodify ldapmodrdn \
		ldappasswd ldapsearch ldapwhoami ldapurl ; do \
	    mv debian/tmp/usr/bin/$$i debian/tmp/usr/bin/open$$i ; \
	    mv debian/tmp/usr/bin/amd64/$$i debian/tmp/usr/bin/amd64/open$$i ; \
	done
	rm -f debian/tmp/usr/bin/ldapadd
	rm -f debian/tmp/usr/bin/amd64/ldapadd
#	ln -s openldapmodify debian/tmp/usr/bin/openldapadd

	touch $@

binary: binary-arch binary-indep
binary-indep:
binary-arch: install
	dh_testdir
	dh_testroot
#	dh_clean -k

	dh_install -a
#	rm -rf $(CURDIR)/debian/slapd/usr/lib/ldap/smbk5pwd*
#	chmod 0755 $(CURDIR)/debian/slapd/usr/share/slapd/ldiftopasswd

	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installman -a
#	dh_installinit -Xslapd.prerm -a -- "defaults 19 80"
#	dh_installdebconf -a
#	dh_lintian -a

#	dh_strip -plibldap-2.4-2
	dh_strip --dbg-package=libldap-2.4-2-dbg
#	dh_strip -pslapd --dbg-package=slapd-dbg
#	dh_strip -pldap-utils
#	dh_strip -pslapd-smbk5pwd

	dh_link -a

	# hardlink these so not confined by apparmor
#	for f in slapacl slapadd slapauth slapcat slapdn slapindex slappasswd slaptest ; do \
#	    ln -f $(slapddir)/slapd $(slapddir)/$$f ; \
#	done ;

	dh_compress -a
#	dh_fixperms -a
	# ideally we would do this and not have any libldap-2.4.so.2 links
	# at all, but that requires adjusting the build scripts first to
	# link against libldap_r, otherwise dh_shlibdeps fails

	dh_makeshlibs -plibldap-2.4-2 -V 'libldap-2.4-2 (>= 2.4.7)'

#	echo "slapd:Provides=$$(objdump -p debian/slapd/usr/lib/libslapi-*.so.* \
#		| sed -ne '/SONAME/ { s/[[:space:]]*SONAME[[:space:]]*//; \
#		                      s/\.so\./-/; p; q }' \
#	)" >> debian/slapd.substvars
#	dh_makeshlibs -pslapd -X/usr/lib/ldap/ -V "$$(sed -ne's/slapd:Provides=//p' debian/slapd.substvars)"

	dh_installdeb -a

#	perl -w debian/dh_installscripts-common -p slapd

	dh_shlibdeps -a -L libldap-2.4-2 -l $(installdir)/usr/lib

	# Strip duplicate dependency out of substvars.
#	sed -i -e 's/ libldap-2.4-2,//' debian/*.substvars
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f install*-stamp build*-stamp configure*-stamp unpackbdb*-stamp bld*-stamp
	rm -f include/stamp-*
	rm -rf debian/bdb-4.5.20.b debian/bdb32 debian/bdb64 debian/bdbbld32 debian/bdbbld64
	rm -rf debian/inst32 debian/inst64
	rm -rf build32 build64
	rm -rf .pc
	
	# Update translation templates for debconf
	# debconf-updatepo

	# Remove updated config.guess and config.sub for a clean diff.
#	rm -f build/config.sub build/config.guess
#	rm -f contrib/ldapc++/config.sub contrib/ldapc++/config.guess
#	rm -rf $(builddir) $(builddir_notls) $(installdir)
#	rm -rf build/ltmain.sh autom4te.cache configure aclocal.m4
	
	# Clean the contrib directory
	rm -rf contrib/slapd-modules/smbk5pwd/.libs \
		contrib/slapd-modules/smbk5pwd/smbk5pwd.lo \
		contrib/slapd-modules/smbk5pwd/smbk5pwd.la \
		contrib/slapd-modules/smbk5pwd/smbk5pwd.o
	rm -rf contrib/slapd-modules/autogroup/.libs \
		contrib/slapd-modules/autogroup/autogroup.lo \
		contrib/slapd-modules/autogroup/autogroup.la \
		contrib/slapd-modules/autogroup/autogroup.o
	dh_clean

.PHONY: binary binary-arch binary-indep build build-arch build-indep clean
.PHONY: install build32 build64 buildbdb32 buildbdb64 installbdb32 installbdb64
