Source: sgml-base
Section: text
Priority: optional
Maintainer: Debian XML/SGML Group <debian-xml-sgml-pkgs@lists.alioth.debian.org>
Uploaders: Ardo van Rangelrooij <ardo@debian.org>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 4.1)

Package: sgml-base
Section: text
Priority: optional
Architecture: all
Conflicts: sgml-data (<= 0.02), sgmltools-2 (<= 2.0.2-4)
Depends: ${perl:Depends}
Suggests: sgml-base-doc
Description: SGML infrastructure and SGML catalog file support
 This package creates the SGML infrastructure directories and provides
 SGML catalog file support in compliance with the current Debian SGML
 Policy draft:
 .
   * infrastructure directories:
      - /etc/sgml
      - /usr/share/sgml/{declaration,dtd,entities,misc,stylesheet}
      - /usr/share/local/sgml/{declaration,dtd,entities,misc,stylesheet}
 .
   * update-catalog(8): tool for maintaining the root SGML catalog
     file and the package SGML catalog files in the '/etc/sgml' directory
