Source: mako
Upstream-Version: 0.4.1
Section: python
Priority: optional
Maintainer: Piotr Ożarowski <piotr@debian.org>
Uploaders: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper
Build-Depends-Indep: python-all, python-setuptools,
# for tests:
 python-nose, python-markupsafe
Standards-Version: 3.9.2
Homepage: http://www.makotemplates.org/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/mako/trunk
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/mako/trunk/

Package: python-mako
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Breaks: ${python:Breaks}
Suggests: python-beaker (>= 1.1), python-mako-doc
Enhances: python-pylons, python-turbogears, python-pygments
XB-Python-Version: ${python:Versions}
Description: fast and lightweight templating for the Python platform
 Mako is a template library written in Python. It provides a familiar, non-XML
 syntax which compiles into Python modules for maximum performance. Mako's
 syntax and API borrows from the best ideas of many others, including Django
 templates, Cheetah, Myghty, and Genshi. Conceptually, Mako is an embedded
 Python (i.e. Python Server Page) language, which refines the familiar ideas of
 componentized layout and inheritance to produce one of the most
 straightforward and flexible models available, while also maintaining close
 ties to Python calling and scoping semantics.

